=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class AIControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate structured content for an email
    # Use output schemas to extract data from an email using AI
    # @param generate_structured_content_email_options [GenerateStructuredContentEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @return [StructuredContentResult]
    def generate_structured_content_from_email(generate_structured_content_email_options, opts = {})
      data, _status_code, _headers = generate_structured_content_from_email_with_http_info(generate_structured_content_email_options, opts)
      data
    end

    # Generate structured content for an email
    # Use output schemas to extract data from an email using AI
    # @param generate_structured_content_email_options [GenerateStructuredContentEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StructuredContentResult, Integer, Hash)>] StructuredContentResult data, response status code and response headers
    def generate_structured_content_from_email_with_http_info(generate_structured_content_email_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIControllerApi.generate_structured_content_from_email ...'
      end
      # verify the required parameter 'generate_structured_content_email_options' is set
      if @api_client.config.client_side_validation && generate_structured_content_email_options.nil?
        fail ArgumentError, "Missing the required parameter 'generate_structured_content_email_options' when calling AIControllerApi.generate_structured_content_from_email"
      end
      # resource path
      local_var_path = '/ai/structured-content/email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(generate_structured_content_email_options) 

      # return_type
      return_type = opts[:return_type] || 'StructuredContentResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIControllerApi#generate_structured_content_from_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
