=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails from dynamically allocated email addresses. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://www.mailslurp.com/docs/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class ApiInternalControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param key [String] 
    # @param get_or_create_saml_user_options [GetOrCreateSamlUserOptions] 
    # @param [Hash] opts the optional parameters
    # @return [UserDto]
    def get_saml_user_or_create(key, get_or_create_saml_user_options, opts = {})
      data, _status_code, _headers = get_saml_user_or_create_with_http_info(key, get_or_create_saml_user_options, opts)
      data
    end

    # @param key [String] 
    # @param get_or_create_saml_user_options [GetOrCreateSamlUserOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserDto, Integer, Hash)>] UserDto data, response status code and response headers
    def get_saml_user_or_create_with_http_info(key, get_or_create_saml_user_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiInternalControllerApi.get_saml_user_or_create ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling ApiInternalControllerApi.get_saml_user_or_create"
      end
      # verify the required parameter 'get_or_create_saml_user_options' is set
      if @api_client.config.client_side_validation && get_or_create_saml_user_options.nil?
        fail ArgumentError, "Missing the required parameter 'get_or_create_saml_user_options' when calling ApiInternalControllerApi.get_saml_user_or_create"
      end
      # resource path
      local_var_path = '/internal/saml/user'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'key'] = key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(get_or_create_saml_user_options) 

      # return_type
      return_type = opts[:return_type] || 'UserDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiInternalControllerApi#get_saml_user_or_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
