=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class ApiAuditLogControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @return [AuditLogEventDto]
    def get_audit_log_by_event_id(event_id, opts = {})
      data, _status_code, _headers = get_audit_log_by_event_id_with_http_info(event_id, opts)
      data
    end

    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @return [Array<(AuditLogEventDto, Integer, Hash)>] AuditLogEventDto data, response status code and response headers
    def get_audit_log_by_event_id_with_http_info(event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiAuditLogControllerApi.get_audit_log_by_event_id ...'
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling ApiAuditLogControllerApi.get_audit_log_by_event_id"
      end
      # resource path
      local_var_path = '/audit-logs/{eventId}'.sub('{' + 'eventId' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'AuditLogEventDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiAuditLogControllerApi#get_audit_log_by_event_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :action 
    # @option opts [String] :user_id 
    # @option opts [String] :actor_user_id 
    # @option opts [String] :target_user_id 
    # @option opts [String] :resource_type 
    # @option opts [String] :resource_id 
    # @option opts [String] :outcome 
    # @option opts [String] :request_id 
    # @option opts [String] :ip_address 
    # @option opts [Integer] :page_size 
    # @option opts [String] :cursor 
    # @return [AuditLogPageDto]
    def get_audit_logs(opts = {})
      data, _status_code, _headers = get_audit_logs_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :action 
    # @option opts [String] :user_id 
    # @option opts [String] :actor_user_id 
    # @option opts [String] :target_user_id 
    # @option opts [String] :resource_type 
    # @option opts [String] :resource_id 
    # @option opts [String] :outcome 
    # @option opts [String] :request_id 
    # @option opts [String] :ip_address 
    # @option opts [Integer] :page_size 
    # @option opts [String] :cursor 
    # @return [Array<(AuditLogPageDto, Integer, Hash)>] AuditLogPageDto data, response status code and response headers
    def get_audit_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiAuditLogControllerApi.get_audit_logs ...'
      end
      # resource path
      local_var_path = '/audit-logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'actorUserId'] = opts[:'actor_user_id'] if !opts[:'actor_user_id'].nil?
      query_params[:'targetUserId'] = opts[:'target_user_id'] if !opts[:'target_user_id'].nil?
      query_params[:'resourceType'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?
      query_params[:'resourceId'] = opts[:'resource_id'] if !opts[:'resource_id'].nil?
      query_params[:'outcome'] = opts[:'outcome'] if !opts[:'outcome'].nil?
      query_params[:'requestId'] = opts[:'request_id'] if !opts[:'request_id'].nil?
      query_params[:'ipAddress'] = opts[:'ip_address'] if !opts[:'ip_address'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'AuditLogPageDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiAuditLogControllerApi#get_audit_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param audit_log_search_options [AuditLogSearchOptions] 
    # @param [Hash] opts the optional parameters
    # @return [AuditLogPageDto]
    def search_audit_logs(audit_log_search_options, opts = {})
      data, _status_code, _headers = search_audit_logs_with_http_info(audit_log_search_options, opts)
      data
    end

    # @param audit_log_search_options [AuditLogSearchOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuditLogPageDto, Integer, Hash)>] AuditLogPageDto data, response status code and response headers
    def search_audit_logs_with_http_info(audit_log_search_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiAuditLogControllerApi.search_audit_logs ...'
      end
      # verify the required parameter 'audit_log_search_options' is set
      if @api_client.config.client_side_validation && audit_log_search_options.nil?
        fail ArgumentError, "Missing the required parameter 'audit_log_search_options' when calling ApiAuditLogControllerApi.search_audit_logs"
      end
      # resource path
      local_var_path = '/audit-logs/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(audit_log_search_options) 

      # return_type
      return_type = opts[:return_type] || 'AuditLogPageDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiAuditLogControllerApi#search_audit_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
