=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class CampaignProbeControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Compare two campaign probe runs
    # @param probe_id [String] 
    # @param run_id [String] 
    # @param other_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CampaignProbeRunComparisonDto]
    def compare_campaign_probe_runs(probe_id, run_id, other_run_id, opts = {})
      data, _status_code, _headers = compare_campaign_probe_runs_with_http_info(probe_id, run_id, other_run_id, opts)
      data
    end

    # Compare two campaign probe runs
    # @param probe_id [String] 
    # @param run_id [String] 
    # @param other_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignProbeRunComparisonDto, Integer, Hash)>] CampaignProbeRunComparisonDto data, response status code and response headers
    def compare_campaign_probe_runs_with_http_info(probe_id, run_id, other_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.compare_campaign_probe_runs ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.compare_campaign_probe_runs"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling CampaignProbeControllerApi.compare_campaign_probe_runs"
      end
      # verify the required parameter 'other_run_id' is set
      if @api_client.config.client_side_validation && other_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'other_run_id' when calling CampaignProbeControllerApi.compare_campaign_probe_runs"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}/runs/{runId}/compare/{otherRunId}'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s)).sub('{' + 'runId' + '}', CGI.escape(run_id.to_s)).sub('{' + 'otherRunId' + '}', CGI.escape(other_run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeRunComparisonDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#compare_campaign_probe_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create campaign probe
    # @param create_campaign_probe_options [CreateCampaignProbeOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CampaignProbeDto]
    def create_campaign_probe(create_campaign_probe_options, opts = {})
      data, _status_code, _headers = create_campaign_probe_with_http_info(create_campaign_probe_options, opts)
      data
    end

    # Create campaign probe
    # @param create_campaign_probe_options [CreateCampaignProbeOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignProbeDto, Integer, Hash)>] CampaignProbeDto data, response status code and response headers
    def create_campaign_probe_with_http_info(create_campaign_probe_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.create_campaign_probe ...'
      end
      # verify the required parameter 'create_campaign_probe_options' is set
      if @api_client.config.client_side_validation && create_campaign_probe_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_campaign_probe_options' when calling CampaignProbeControllerApi.create_campaign_probe"
      end
      # resource path
      local_var_path = '/campaign-probe/probes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_campaign_probe_options) 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#create_campaign_probe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete campaign probe
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_campaign_probe(probe_id, opts = {})
      delete_campaign_probe_with_http_info(probe_id, opts)
      nil
    end

    # Delete campaign probe
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_campaign_probe_with_http_info(probe_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.delete_campaign_probe ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.delete_campaign_probe"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#delete_campaign_probe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get campaign probe
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CampaignProbeDto]
    def get_campaign_probe(probe_id, opts = {})
      data, _status_code, _headers = get_campaign_probe_with_http_info(probe_id, opts)
      data
    end

    # Get campaign probe
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignProbeDto, Integer, Hash)>] CampaignProbeDto data, response status code and response headers
    def get_campaign_probe_with_http_info(probe_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.get_campaign_probe ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.get_campaign_probe"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#get_campaign_probe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get campaign probe insights
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @return [CampaignProbeInsightsDto]
    def get_campaign_probe_insights(probe_id, opts = {})
      data, _status_code, _headers = get_campaign_probe_insights_with_http_info(probe_id, opts)
      data
    end

    # Get campaign probe insights
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @return [Array<(CampaignProbeInsightsDto, Integer, Hash)>] CampaignProbeInsightsDto data, response status code and response headers
    def get_campaign_probe_insights_with_http_info(probe_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.get_campaign_probe_insights ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.get_campaign_probe_insights"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}/insights'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeInsightsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#get_campaign_probe_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get campaign probe run
    # @param probe_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CampaignProbeRunDto]
    def get_campaign_probe_run(probe_id, run_id, opts = {})
      data, _status_code, _headers = get_campaign_probe_run_with_http_info(probe_id, run_id, opts)
      data
    end

    # Get campaign probe run
    # @param probe_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignProbeRunDto, Integer, Hash)>] CampaignProbeRunDto data, response status code and response headers
    def get_campaign_probe_run_with_http_info(probe_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.get_campaign_probe_run ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.get_campaign_probe_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling CampaignProbeControllerApi.get_campaign_probe_run"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}/runs/{runId}'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s)).sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeRunDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#get_campaign_probe_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List campaign probe runs
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @return [Array<CampaignProbeRunDto>]
    def get_campaign_probe_runs(probe_id, opts = {})
      data, _status_code, _headers = get_campaign_probe_runs_with_http_info(probe_id, opts)
      data
    end

    # List campaign probe runs
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @return [Array<(Array<CampaignProbeRunDto>, Integer, Hash)>] Array<CampaignProbeRunDto> data, response status code and response headers
    def get_campaign_probe_runs_with_http_info(probe_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.get_campaign_probe_runs ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.get_campaign_probe_runs"
      end
      allowable_values = ["HEALTHY", "WARNING", "FAILED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}/runs'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<CampaignProbeRunDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#get_campaign_probe_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get campaign probe trend series
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :bucket  (default to 'DAY')
    # @return [CampaignProbeSeriesDto]
    def get_campaign_probe_series(probe_id, opts = {})
      data, _status_code, _headers = get_campaign_probe_series_with_http_info(probe_id, opts)
      data
    end

    # Get campaign probe trend series
    # @param probe_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :bucket 
    # @return [Array<(CampaignProbeSeriesDto, Integer, Hash)>] CampaignProbeSeriesDto data, response status code and response headers
    def get_campaign_probe_series_with_http_info(probe_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.get_campaign_probe_series ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.get_campaign_probe_series"
      end
      allowable_values = ["HOUR", "DAY"]
      if @api_client.config.client_side_validation && opts[:'bucket'] && !allowable_values.include?(opts[:'bucket'])
        fail ArgumentError, "invalid value for \"bucket\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}/series'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'bucket'] = opts[:'bucket'] if !opts[:'bucket'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeSeriesDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#get_campaign_probe_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List campaign probes
    # @param [Hash] opts the optional parameters
    # @return [Array<CampaignProbeDto>]
    def get_campaign_probes(opts = {})
      data, _status_code, _headers = get_campaign_probes_with_http_info(opts)
      data
    end

    # List campaign probes
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CampaignProbeDto>, Integer, Hash)>] Array<CampaignProbeDto> data, response status code and response headers
    def get_campaign_probes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.get_campaign_probes ...'
      end
      # resource path
      local_var_path = '/campaign-probe/probes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<CampaignProbeDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#get_campaign_probes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run campaign probe now
    # @param probe_id [String] 
    # @param create_campaign_probe_run_options [CreateCampaignProbeRunOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CampaignProbeRunNowResult]
    def run_campaign_probe_now(probe_id, create_campaign_probe_run_options, opts = {})
      data, _status_code, _headers = run_campaign_probe_now_with_http_info(probe_id, create_campaign_probe_run_options, opts)
      data
    end

    # Run campaign probe now
    # @param probe_id [String] 
    # @param create_campaign_probe_run_options [CreateCampaignProbeRunOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignProbeRunNowResult, Integer, Hash)>] CampaignProbeRunNowResult data, response status code and response headers
    def run_campaign_probe_now_with_http_info(probe_id, create_campaign_probe_run_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.run_campaign_probe_now ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.run_campaign_probe_now"
      end
      # verify the required parameter 'create_campaign_probe_run_options' is set
      if @api_client.config.client_side_validation && create_campaign_probe_run_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_campaign_probe_run_options' when calling CampaignProbeControllerApi.run_campaign_probe_now"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}/run-now'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_campaign_probe_run_options) 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeRunNowResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#run_campaign_probe_now\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run due campaign probes for user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_runs 
    # @return [CampaignProbeRunDueResult]
    def run_due_campaign_probes(opts = {})
      data, _status_code, _headers = run_due_campaign_probes_with_http_info(opts)
      data
    end

    # Run due campaign probes for user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_runs 
    # @return [Array<(CampaignProbeRunDueResult, Integer, Hash)>] CampaignProbeRunDueResult data, response status code and response headers
    def run_due_campaign_probes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.run_due_campaign_probes ...'
      end
      # resource path
      local_var_path = '/campaign-probe/probes/run-due'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'maxRuns'] = opts[:'max_runs'] if !opts[:'max_runs'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeRunDueResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#run_due_campaign_probes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update campaign probe
    # @param probe_id [String] 
    # @param update_campaign_probe_options [UpdateCampaignProbeOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CampaignProbeDto]
    def update_campaign_probe(probe_id, update_campaign_probe_options, opts = {})
      data, _status_code, _headers = update_campaign_probe_with_http_info(probe_id, update_campaign_probe_options, opts)
      data
    end

    # Update campaign probe
    # @param probe_id [String] 
    # @param update_campaign_probe_options [UpdateCampaignProbeOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignProbeDto, Integer, Hash)>] CampaignProbeDto data, response status code and response headers
    def update_campaign_probe_with_http_info(probe_id, update_campaign_probe_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CampaignProbeControllerApi.update_campaign_probe ...'
      end
      # verify the required parameter 'probe_id' is set
      if @api_client.config.client_side_validation && probe_id.nil?
        fail ArgumentError, "Missing the required parameter 'probe_id' when calling CampaignProbeControllerApi.update_campaign_probe"
      end
      # verify the required parameter 'update_campaign_probe_options' is set
      if @api_client.config.client_side_validation && update_campaign_probe_options.nil?
        fail ArgumentError, "Missing the required parameter 'update_campaign_probe_options' when calling CampaignProbeControllerApi.update_campaign_probe"
      end
      # resource path
      local_var_path = '/campaign-probe/probes/{probeId}'.sub('{' + 'probeId' + '}', CGI.escape(probe_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(update_campaign_probe_options) 

      # return_type
      return_type = opts[:return_type] || 'CampaignProbeDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CampaignProbeControllerApi#update_campaign_probe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
