=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class ConnectorControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an inbox connector
    # Sync emails between external mailboxes and MailSlurp inboxes
    # @param create_connector_options [CreateConnectorOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inbox_id Optional inbox ID to associate with the connector
    # @return [ConnectorDto]
    def create_connector(create_connector_options, opts = {})
      data, _status_code, _headers = create_connector_with_http_info(create_connector_options, opts)
      data
    end

    # Create an inbox connector
    # Sync emails between external mailboxes and MailSlurp inboxes
    # @param create_connector_options [CreateConnectorOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inbox_id Optional inbox ID to associate with the connector
    # @return [Array<(ConnectorDto, Integer, Hash)>] ConnectorDto data, response status code and response headers
    def create_connector_with_http_info(create_connector_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.create_connector ...'
      end
      # verify the required parameter 'create_connector_options' is set
      if @api_client.config.client_side_validation && create_connector_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_options' when calling ConnectorControllerApi.create_connector"
      end
      # resource path
      local_var_path = '/connectors'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'inboxId'] = opts[:'inbox_id'] if !opts[:'inbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#create_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an inbox connector IMAP connection
    # Allows the reading of emails in an external mailbox and syncing to a MailSlurp inbox
    # @param id [String] 
    # @param create_connector_imap_connection_options [CreateConnectorImapConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorImapConnectionDto]
    def create_connector_imap_connection(id, create_connector_imap_connection_options, opts = {})
      data, _status_code, _headers = create_connector_imap_connection_with_http_info(id, create_connector_imap_connection_options, opts)
      data
    end

    # Create an inbox connector IMAP connection
    # Allows the reading of emails in an external mailbox and syncing to a MailSlurp inbox
    # @param id [String] 
    # @param create_connector_imap_connection_options [CreateConnectorImapConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorImapConnectionDto, Integer, Hash)>] ConnectorImapConnectionDto data, response status code and response headers
    def create_connector_imap_connection_with_http_info(id, create_connector_imap_connection_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.create_connector_imap_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.create_connector_imap_connection"
      end
      # verify the required parameter 'create_connector_imap_connection_options' is set
      if @api_client.config.client_side_validation && create_connector_imap_connection_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_imap_connection_options' when calling ConnectorControllerApi.create_connector_imap_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/imap'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_imap_connection_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorImapConnectionDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#create_connector_imap_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an inbox connector SMTP connection
    # Allows sending via connector and email is routed to connected inbox and sent via SMTP
    # @param id [String] 
    # @param create_connector_smtp_connection_options [CreateConnectorSmtpConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorSmtpConnectionDto]
    def create_connector_smtp_connection(id, create_connector_smtp_connection_options, opts = {})
      data, _status_code, _headers = create_connector_smtp_connection_with_http_info(id, create_connector_smtp_connection_options, opts)
      data
    end

    # Create an inbox connector SMTP connection
    # Allows sending via connector and email is routed to connected inbox and sent via SMTP
    # @param id [String] 
    # @param create_connector_smtp_connection_options [CreateConnectorSmtpConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorSmtpConnectionDto, Integer, Hash)>] ConnectorSmtpConnectionDto data, response status code and response headers
    def create_connector_smtp_connection_with_http_info(id, create_connector_smtp_connection_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.create_connector_smtp_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.create_connector_smtp_connection"
      end
      # verify the required parameter 'create_connector_smtp_connection_options' is set
      if @api_client.config.client_side_validation && create_connector_smtp_connection_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_smtp_connection_options' when calling ConnectorControllerApi.create_connector_smtp_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/smtp'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_smtp_connection_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorSmtpConnectionDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#create_connector_smtp_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an inbox connector sync settings
    # Configure automatic pull or emails from external inboxes using an interval or schedule
    # @param id [String] 
    # @param create_connector_sync_settings_options [CreateConnectorSyncSettingsOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorSyncSettingsDto]
    def create_connector_sync_settings(id, create_connector_sync_settings_options, opts = {})
      data, _status_code, _headers = create_connector_sync_settings_with_http_info(id, create_connector_sync_settings_options, opts)
      data
    end

    # Create an inbox connector sync settings
    # Configure automatic pull or emails from external inboxes using an interval or schedule
    # @param id [String] 
    # @param create_connector_sync_settings_options [CreateConnectorSyncSettingsOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorSyncSettingsDto, Integer, Hash)>] ConnectorSyncSettingsDto data, response status code and response headers
    def create_connector_sync_settings_with_http_info(id, create_connector_sync_settings_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.create_connector_sync_settings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.create_connector_sync_settings"
      end
      # verify the required parameter 'create_connector_sync_settings_options' is set
      if @api_client.config.client_side_validation && create_connector_sync_settings_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_sync_settings_options' when calling ConnectorControllerApi.create_connector_sync_settings"
      end
      # resource path
      local_var_path = '/connectors/{id}/sync-settings'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_sync_settings_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorSyncSettingsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#create_connector_sync_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an inbox connector with options
    # Sync emails between external mailboxes and MailSlurp inboxes
    # @param create_connector_with_options [CreateConnectorWithOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inbox_id Optional inbox ID to associate with the connector
    # @return [ConnectorDto]
    def create_connector_with_options(create_connector_with_options, opts = {})
      data, _status_code, _headers = create_connector_with_options_with_http_info(create_connector_with_options, opts)
      data
    end

    # Create an inbox connector with options
    # Sync emails between external mailboxes and MailSlurp inboxes
    # @param create_connector_with_options [CreateConnectorWithOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inbox_id Optional inbox ID to associate with the connector
    # @return [Array<(ConnectorDto, Integer, Hash)>] ConnectorDto data, response status code and response headers
    def create_connector_with_options_with_http_info(create_connector_with_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.create_connector_with_options ...'
      end
      # verify the required parameter 'create_connector_with_options' is set
      if @api_client.config.client_side_validation && create_connector_with_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_with_options' when calling ConnectorControllerApi.create_connector_with_options"
      end
      # resource path
      local_var_path = '/connectors/withOptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'inboxId'] = opts[:'inbox_id'] if !opts[:'inbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_with_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#create_connector_with_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete all inbox connectors
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_connector(opts = {})
      delete_all_connector_with_http_info(opts)
      nil
    end

    # Delete all inbox connectors
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_all_connector_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.delete_all_connector ...'
      end
      # resource path
      local_var_path = '/connectors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#delete_all_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an inbox connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_connector(id, opts = {})
      delete_connector_with_http_info(id, opts)
      nil
    end

    # Delete an inbox connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_connector_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.delete_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.delete_connector"
      end
      # resource path
      local_var_path = '/connectors/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#delete_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an inbox connector IMAP connection
    # Delete IMAP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_connector_imap_connection(id, opts = {})
      delete_connector_imap_connection_with_http_info(id, opts)
      nil
    end

    # Delete an inbox connector IMAP connection
    # Delete IMAP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_connector_imap_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.delete_connector_imap_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.delete_connector_imap_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/imap'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#delete_connector_imap_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an inbox connector SMTP connection
    # Delete SMTP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_connector_smtp_connection(id, opts = {})
      delete_connector_smtp_connection_with_http_info(id, opts)
      nil
    end

    # Delete an inbox connector SMTP connection
    # Delete SMTP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_connector_smtp_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.delete_connector_smtp_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.delete_connector_smtp_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/smtp'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#delete_connector_smtp_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an inbox connector sync settings
    # Configure automatic pull or emails from external inboxes using an interval or schedule
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_connector_sync_settings(id, opts = {})
      delete_connector_sync_settings_with_http_info(id, opts)
      nil
    end

    # Create an inbox connector sync settings
    # Configure automatic pull or emails from external inboxes using an interval or schedule
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_connector_sync_settings_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.delete_connector_sync_settings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.delete_connector_sync_settings"
      end
      # resource path
      local_var_path = '/connectors/{id}/sync-settings'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#delete_connector_sync_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all inbox connector events
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Optional connector ID
    # @option opts [Integer] :page Optional page index in connector list pagination (default to 0)
    # @option opts [Integer] :size Optional page size in connector list pagination (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'ASC')
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @option opts [String] :event_type Filter by event type
    # @return [PageConnectorEvents]
    def get_all_connector_events(opts = {})
      data, _status_code, _headers = get_all_connector_events_with_http_info(opts)
      data
    end

    # Get all inbox connector events
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Optional connector ID
    # @option opts [Integer] :page Optional page index in connector list pagination
    # @option opts [Integer] :size Optional page size in connector list pagination
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @option opts [String] :event_type Filter by event type
    # @return [Array<(PageConnectorEvents, Integer, Hash)>] PageConnectorEvents data, response status code and response headers
    def get_all_connector_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_all_connector_events ...'
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["SEND", "SYNC"]
      if @api_client.config.client_side_validation && opts[:'event_type'] && !allowable_values.include?(opts[:'event_type'])
        fail ArgumentError, "invalid value for \"event_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/connectors/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'eventType'] = opts[:'event_type'] if !opts[:'event_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PageConnectorEvents' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_all_connector_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inbox connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorDto]
    def get_connector(id, opts = {})
      data, _status_code, _headers = get_connector_with_http_info(id, opts)
      data
    end

    # Get an inbox connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorDto, Integer, Hash)>] ConnectorDto data, response status code and response headers
    def get_connector_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.get_connector"
      end
      # resource path
      local_var_path = '/connectors/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ConnectorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get connector by email address
    # Find an inbox connector by email address
    # @param email_address [String] Email address to search for connector by
    # @param [Hash] opts the optional parameters
    # @return [OptionalConnectorDto]
    def get_connector_by_email_address(email_address, opts = {})
      data, _status_code, _headers = get_connector_by_email_address_with_http_info(email_address, opts)
      data
    end

    # Get connector by email address
    # Find an inbox connector by email address
    # @param email_address [String] Email address to search for connector by
    # @param [Hash] opts the optional parameters
    # @return [Array<(OptionalConnectorDto, Integer, Hash)>] OptionalConnectorDto data, response status code and response headers
    def get_connector_by_email_address_with_http_info(email_address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_by_email_address ...'
      end
      # verify the required parameter 'email_address' is set
      if @api_client.config.client_side_validation && email_address.nil?
        fail ArgumentError, "Missing the required parameter 'email_address' when calling ConnectorControllerApi.get_connector_by_email_address"
      end
      # resource path
      local_var_path = '/connectors/by-email-address'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailAddress'] = email_address

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'OptionalConnectorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_by_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get connector by inbox ID
    # Find an inbox connector by inbox ID
    # @param inbox_id [String] Inbox ID to search for connector by
    # @param [Hash] opts the optional parameters
    # @return [OptionalConnectorDto]
    def get_connector_by_inbox_id(inbox_id, opts = {})
      data, _status_code, _headers = get_connector_by_inbox_id_with_http_info(inbox_id, opts)
      data
    end

    # Get connector by inbox ID
    # Find an inbox connector by inbox ID
    # @param inbox_id [String] Inbox ID to search for connector by
    # @param [Hash] opts the optional parameters
    # @return [Array<(OptionalConnectorDto, Integer, Hash)>] OptionalConnectorDto data, response status code and response headers
    def get_connector_by_inbox_id_with_http_info(inbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_by_inbox_id ...'
      end
      # verify the required parameter 'inbox_id' is set
      if @api_client.config.client_side_validation && inbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbox_id' when calling ConnectorControllerApi.get_connector_by_inbox_id"
      end
      # resource path
      local_var_path = '/connectors/by-inbox-id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'inboxId'] = inbox_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'OptionalConnectorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_by_inbox_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get connector by name
    # Find an inbox connector by name
    # @param name [String] Name to search for connector by
    # @param [Hash] opts the optional parameters
    # @return [OptionalConnectorDto]
    def get_connector_by_name(name, opts = {})
      data, _status_code, _headers = get_connector_by_name_with_http_info(name, opts)
      data
    end

    # Get connector by name
    # Find an inbox connector by name
    # @param name [String] Name to search for connector by
    # @param [Hash] opts the optional parameters
    # @return [Array<(OptionalConnectorDto, Integer, Hash)>] OptionalConnectorDto data, response status code and response headers
    def get_connector_by_name_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ConnectorControllerApi.get_connector_by_name"
      end
      # resource path
      local_var_path = '/connectors/by-name'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'OptionalConnectorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inbox connector event
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorEventDto]
    def get_connector_event(id, opts = {})
      data, _status_code, _headers = get_connector_event_with_http_info(id, opts)
      data
    end

    # Get an inbox connector event
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorEventDto, Integer, Hash)>] ConnectorEventDto data, response status code and response headers
    def get_connector_event_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.get_connector_event"
      end
      # resource path
      local_var_path = '/connectors/events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ConnectorEventDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inbox connector events
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in connector list pagination (default to 0)
    # @option opts [Integer] :size Optional page size in connector list pagination (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'ASC')
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @option opts [String] :event_type Filter by event type
    # @return [PageConnectorEvents]
    def get_connector_events(id, opts = {})
      data, _status_code, _headers = get_connector_events_with_http_info(id, opts)
      data
    end

    # Get an inbox connector events
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in connector list pagination
    # @option opts [Integer] :size Optional page size in connector list pagination
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @option opts [String] :event_type Filter by event type
    # @return [Array<(PageConnectorEvents, Integer, Hash)>] PageConnectorEvents data, response status code and response headers
    def get_connector_events_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_events ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.get_connector_events"
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["SEND", "SYNC"]
      if @api_client.config.client_side_validation && opts[:'event_type'] && !allowable_values.include?(opts[:'event_type'])
        fail ArgumentError, "invalid value for \"event_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/connectors/{id}/events'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'eventType'] = opts[:'event_type'] if !opts[:'event_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PageConnectorEvents' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inbox connector IMAP connection
    # Get IMAP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OptionalConnectorImapConnectionDto]
    def get_connector_imap_connection(id, opts = {})
      data, _status_code, _headers = get_connector_imap_connection_with_http_info(id, opts)
      data
    end

    # Get an inbox connector IMAP connection
    # Get IMAP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OptionalConnectorImapConnectionDto, Integer, Hash)>] OptionalConnectorImapConnectionDto data, response status code and response headers
    def get_connector_imap_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_imap_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.get_connector_imap_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/imap'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'OptionalConnectorImapConnectionDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_imap_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SMTP and IMAP connection settings for common mail providers
    # Get common mail provider SMTP and IMAP connection settings
    # @param [Hash] opts the optional parameters
    # @return [ConnectorProviderSettingsDto]
    def get_connector_provider_settings(opts = {})
      data, _status_code, _headers = get_connector_provider_settings_with_http_info(opts)
      data
    end

    # Get SMTP and IMAP connection settings for common mail providers
    # Get common mail provider SMTP and IMAP connection settings
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorProviderSettingsDto, Integer, Hash)>] ConnectorProviderSettingsDto data, response status code and response headers
    def get_connector_provider_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_provider_settings ...'
      end
      # resource path
      local_var_path = '/connectors/provider-settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ConnectorProviderSettingsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_provider_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inbox connector SMTP connection
    # Get SMTP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OptionalConnectorSmtpConnectionDto]
    def get_connector_smtp_connection(id, opts = {})
      data, _status_code, _headers = get_connector_smtp_connection_with_http_info(id, opts)
      data
    end

    # Get an inbox connector SMTP connection
    # Get SMTP connection for external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OptionalConnectorSmtpConnectionDto, Integer, Hash)>] OptionalConnectorSmtpConnectionDto data, response status code and response headers
    def get_connector_smtp_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_smtp_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.get_connector_smtp_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/smtp'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'OptionalConnectorSmtpConnectionDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_smtp_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an inbox connector sync settings
    # Get sync settings for connection with external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OptionalConnectorSyncSettingsDto]
    def get_connector_sync_settings(id, opts = {})
      data, _status_code, _headers = get_connector_sync_settings_with_http_info(id, opts)
      data
    end

    # Get an inbox connector sync settings
    # Get sync settings for connection with external inbox
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OptionalConnectorSyncSettingsDto, Integer, Hash)>] OptionalConnectorSyncSettingsDto data, response status code and response headers
    def get_connector_sync_settings_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connector_sync_settings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.get_connector_sync_settings"
      end
      # resource path
      local_var_path = '/connectors/{id}/sync-settings'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'OptionalConnectorSyncSettingsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connector_sync_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get inbox connectors
    # List inbox connectors that sync external emails to MailSlurp inboxes
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in connector list pagination (default to 0)
    # @option opts [Integer] :size Optional page size in connector list pagination (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'ASC')
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @return [PageConnector]
    def get_connectors(opts = {})
      data, _status_code, _headers = get_connectors_with_http_info(opts)
      data
    end

    # Get inbox connectors
    # List inbox connectors that sync external emails to MailSlurp inboxes
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in connector list pagination
    # @option opts [Integer] :size Optional page size in connector list pagination
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @return [Array<(PageConnector, Integer, Hash)>] PageConnector data, response status code and response headers
    def get_connectors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.get_connectors ...'
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/connectors'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PageConnector' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#get_connectors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send from an inbox connector
    # @param id [String] 
    # @param send_email_options [SendEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :use_fallback 
    # @return [SentEmailDto]
    def send_email_from_connector(id, send_email_options, opts = {})
      data, _status_code, _headers = send_email_from_connector_with_http_info(id, send_email_options, opts)
      data
    end

    # Send from an inbox connector
    # @param id [String] 
    # @param send_email_options [SendEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :use_fallback 
    # @return [Array<(SentEmailDto, Integer, Hash)>] SentEmailDto data, response status code and response headers
    def send_email_from_connector_with_http_info(id, send_email_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.send_email_from_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.send_email_from_connector"
      end
      # verify the required parameter 'send_email_options' is set
      if @api_client.config.client_side_validation && send_email_options.nil?
        fail ArgumentError, "Missing the required parameter 'send_email_options' when calling ConnectorControllerApi.send_email_from_connector"
      end
      # resource path
      local_var_path = '/connectors/{id}/send'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'useFallback'] = opts[:'use_fallback'] if !opts[:'use_fallback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(send_email_options) 

      # return_type
      return_type = opts[:return_type] || 'SentEmailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#send_email_from_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync an inbox connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since Date to request emails since
    # @option opts [String] :folder Which folder to sync emails with
    # @option opts [Boolean] :logging Enable or disable logging for the sync operation
    # @return [ConnectorSyncRequestResult]
    def sync_connector(id, opts = {})
      data, _status_code, _headers = sync_connector_with_http_info(id, opts)
      data
    end

    # Sync an inbox connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since Date to request emails since
    # @option opts [String] :folder Which folder to sync emails with
    # @option opts [Boolean] :logging Enable or disable logging for the sync operation
    # @return [Array<(ConnectorSyncRequestResult, Integer, Hash)>] ConnectorSyncRequestResult data, response status code and response headers
    def sync_connector_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.sync_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.sync_connector"
      end
      # resource path
      local_var_path = '/connectors/{id}/sync'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'logging'] = opts[:'logging'] if !opts[:'logging'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ConnectorSyncRequestResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#sync_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test an inbox connector IMAP connection
    # Test the IMAP connection for a connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateConnectorImapConnectionOptions] :create_connector_imap_connection_options 
    # @return [ConnectorImapConnectionTestResult]
    def test_connector_imap_connection(id, opts = {})
      data, _status_code, _headers = test_connector_imap_connection_with_http_info(id, opts)
      data
    end

    # Test an inbox connector IMAP connection
    # Test the IMAP connection for a connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateConnectorImapConnectionOptions] :create_connector_imap_connection_options 
    # @return [Array<(ConnectorImapConnectionTestResult, Integer, Hash)>] ConnectorImapConnectionTestResult data, response status code and response headers
    def test_connector_imap_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.test_connector_imap_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.test_connector_imap_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/imap/test'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'create_connector_imap_connection_options']) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorImapConnectionTestResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#test_connector_imap_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test an inbox connector IMAP connection options
    # Test the IMAP connection options for a connector
    # @param create_connector_imap_connection_options [CreateConnectorImapConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorImapConnectionTestResult]
    def test_connector_imap_connection_options(create_connector_imap_connection_options, opts = {})
      data, _status_code, _headers = test_connector_imap_connection_options_with_http_info(create_connector_imap_connection_options, opts)
      data
    end

    # Test an inbox connector IMAP connection options
    # Test the IMAP connection options for a connector
    # @param create_connector_imap_connection_options [CreateConnectorImapConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorImapConnectionTestResult, Integer, Hash)>] ConnectorImapConnectionTestResult data, response status code and response headers
    def test_connector_imap_connection_options_with_http_info(create_connector_imap_connection_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.test_connector_imap_connection_options ...'
      end
      # verify the required parameter 'create_connector_imap_connection_options' is set
      if @api_client.config.client_side_validation && create_connector_imap_connection_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_imap_connection_options' when calling ConnectorControllerApi.test_connector_imap_connection_options"
      end
      # resource path
      local_var_path = '/connectors/connections/imap/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_imap_connection_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorImapConnectionTestResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#test_connector_imap_connection_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test an inbox connector SMTP connection
    # Test the SMTP connection for a connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateConnectorSmtpConnectionOptions] :create_connector_smtp_connection_options 
    # @return [ConnectorSmtpConnectionTestResult]
    def test_connector_smtp_connection(id, opts = {})
      data, _status_code, _headers = test_connector_smtp_connection_with_http_info(id, opts)
      data
    end

    # Test an inbox connector SMTP connection
    # Test the SMTP connection for a connector
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateConnectorSmtpConnectionOptions] :create_connector_smtp_connection_options 
    # @return [Array<(ConnectorSmtpConnectionTestResult, Integer, Hash)>] ConnectorSmtpConnectionTestResult data, response status code and response headers
    def test_connector_smtp_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.test_connector_smtp_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.test_connector_smtp_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/smtp/test'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'create_connector_smtp_connection_options']) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorSmtpConnectionTestResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#test_connector_smtp_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test an inbox connector SMTP connection options
    # Test the SMTP connection options for a connector
    # @param create_connector_smtp_connection_options [CreateConnectorSmtpConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorSmtpConnectionTestResult]
    def test_connector_smtp_connection_options(create_connector_smtp_connection_options, opts = {})
      data, _status_code, _headers = test_connector_smtp_connection_options_with_http_info(create_connector_smtp_connection_options, opts)
      data
    end

    # Test an inbox connector SMTP connection options
    # Test the SMTP connection options for a connector
    # @param create_connector_smtp_connection_options [CreateConnectorSmtpConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorSmtpConnectionTestResult, Integer, Hash)>] ConnectorSmtpConnectionTestResult data, response status code and response headers
    def test_connector_smtp_connection_options_with_http_info(create_connector_smtp_connection_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.test_connector_smtp_connection_options ...'
      end
      # verify the required parameter 'create_connector_smtp_connection_options' is set
      if @api_client.config.client_side_validation && create_connector_smtp_connection_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_smtp_connection_options' when calling ConnectorControllerApi.test_connector_smtp_connection_options"
      end
      # resource path
      local_var_path = '/connectors/connections/smtp/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_smtp_connection_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorSmtpConnectionTestResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#test_connector_smtp_connection_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an inbox connector
    # @param id [String] 
    # @param create_connector_options [CreateConnectorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorDto]
    def update_connector(id, create_connector_options, opts = {})
      data, _status_code, _headers = update_connector_with_http_info(id, create_connector_options, opts)
      data
    end

    # Update an inbox connector
    # @param id [String] 
    # @param create_connector_options [CreateConnectorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorDto, Integer, Hash)>] ConnectorDto data, response status code and response headers
    def update_connector_with_http_info(id, create_connector_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.update_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.update_connector"
      end
      # verify the required parameter 'create_connector_options' is set
      if @api_client.config.client_side_validation && create_connector_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_options' when calling ConnectorControllerApi.update_connector"
      end
      # resource path
      local_var_path = '/connectors/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#update_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an inbox connector IMAP connection
    # Update IMAP connection for external inbox
    # @param id [String] 
    # @param create_connector_imap_connection_options [CreateConnectorImapConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorImapConnectionDto]
    def update_connector_imap_connection(id, create_connector_imap_connection_options, opts = {})
      data, _status_code, _headers = update_connector_imap_connection_with_http_info(id, create_connector_imap_connection_options, opts)
      data
    end

    # Update an inbox connector IMAP connection
    # Update IMAP connection for external inbox
    # @param id [String] 
    # @param create_connector_imap_connection_options [CreateConnectorImapConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorImapConnectionDto, Integer, Hash)>] ConnectorImapConnectionDto data, response status code and response headers
    def update_connector_imap_connection_with_http_info(id, create_connector_imap_connection_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.update_connector_imap_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.update_connector_imap_connection"
      end
      # verify the required parameter 'create_connector_imap_connection_options' is set
      if @api_client.config.client_side_validation && create_connector_imap_connection_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_imap_connection_options' when calling ConnectorControllerApi.update_connector_imap_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/imap'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_imap_connection_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorImapConnectionDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#update_connector_imap_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an inbox connector SMTP connection
    # Update SMTP connection for external inbox
    # @param id [String] 
    # @param create_connector_smtp_connection_options [CreateConnectorSmtpConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectorSmtpConnectionDto]
    def update_connector_smtp_connection(id, create_connector_smtp_connection_options, opts = {})
      data, _status_code, _headers = update_connector_smtp_connection_with_http_info(id, create_connector_smtp_connection_options, opts)
      data
    end

    # Update an inbox connector SMTP connection
    # Update SMTP connection for external inbox
    # @param id [String] 
    # @param create_connector_smtp_connection_options [CreateConnectorSmtpConnectionOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorSmtpConnectionDto, Integer, Hash)>] ConnectorSmtpConnectionDto data, response status code and response headers
    def update_connector_smtp_connection_with_http_info(id, create_connector_smtp_connection_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorControllerApi.update_connector_smtp_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorControllerApi.update_connector_smtp_connection"
      end
      # verify the required parameter 'create_connector_smtp_connection_options' is set
      if @api_client.config.client_side_validation && create_connector_smtp_connection_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_smtp_connection_options' when calling ConnectorControllerApi.update_connector_smtp_connection"
      end
      # resource path
      local_var_path = '/connectors/{id}/smtp'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_connector_smtp_connection_options) 

      # return_type
      return_type = opts[:return_type] || 'ConnectorSmtpConnectionDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorControllerApi#update_connector_smtp_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
