=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class DeliverabilityTestControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel deliverability simulation job
    # Cancel a running or paused simulation job.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilitySimulationJobDto]
    def cancel_deliverability_simulation_job(test_id, job_id, opts = {})
      data, _status_code, _headers = cancel_deliverability_simulation_job_with_http_info(test_id, job_id, opts)
      data
    end

    # Cancel deliverability simulation job
    # Cancel a running or paused simulation job.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilitySimulationJobDto, Integer, Hash)>] DeliverabilitySimulationJobDto data, response status code and response headers
    def cancel_deliverability_simulation_job_with_http_info(test_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.cancel_deliverability_simulation_job ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.cancel_deliverability_simulation_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling DeliverabilityTestControllerApi.cancel_deliverability_simulation_job"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/simulation-jobs/{jobId}/cancel'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s)).sub('{' + 'jobId' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilitySimulationJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#cancel_deliverability_simulation_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create deliverability simulation job
    # Create and start a simulation job for a running deliverability test. Only one active simulation job is allowed per user.
    # @param test_id [String] 
    # @param create_deliverability_simulation_job_options [CreateDeliverabilitySimulationJobOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilitySimulationJobDto]
    def create_deliverability_simulation_job(test_id, create_deliverability_simulation_job_options, opts = {})
      data, _status_code, _headers = create_deliverability_simulation_job_with_http_info(test_id, create_deliverability_simulation_job_options, opts)
      data
    end

    # Create deliverability simulation job
    # Create and start a simulation job for a running deliverability test. Only one active simulation job is allowed per user.
    # @param test_id [String] 
    # @param create_deliverability_simulation_job_options [CreateDeliverabilitySimulationJobOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilitySimulationJobDto, Integer, Hash)>] DeliverabilitySimulationJobDto data, response status code and response headers
    def create_deliverability_simulation_job_with_http_info(test_id, create_deliverability_simulation_job_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.create_deliverability_simulation_job ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.create_deliverability_simulation_job"
      end
      # verify the required parameter 'create_deliverability_simulation_job_options' is set
      if @api_client.config.client_side_validation && create_deliverability_simulation_job_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_deliverability_simulation_job_options' when calling DeliverabilityTestControllerApi.create_deliverability_simulation_job"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/simulation-jobs'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_deliverability_simulation_job_options) 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilitySimulationJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#create_deliverability_simulation_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create deliverability/load test
    # Create a deliverability test for inboxes or phone numbers using ALL, PATTERN, or EXPLICIT selector scope.
    # @param create_deliverability_test_options [CreateDeliverabilityTestOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityTestDto]
    def create_deliverability_test(create_deliverability_test_options, opts = {})
      data, _status_code, _headers = create_deliverability_test_with_http_info(create_deliverability_test_options, opts)
      data
    end

    # Create deliverability/load test
    # Create a deliverability test for inboxes or phone numbers using ALL, PATTERN, or EXPLICIT selector scope.
    # @param create_deliverability_test_options [CreateDeliverabilityTestOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityTestDto, Integer, Hash)>] DeliverabilityTestDto data, response status code and response headers
    def create_deliverability_test_with_http_info(create_deliverability_test_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.create_deliverability_test ...'
      end
      # verify the required parameter 'create_deliverability_test_options' is set
      if @api_client.config.client_side_validation && create_deliverability_test_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_deliverability_test_options' when calling DeliverabilityTestControllerApi.create_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_deliverability_test_options) 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#create_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete deliverability/load test
    # Delete test and all persisted entity-level results.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteResult]
    def delete_deliverability_test(test_id, opts = {})
      data, _status_code, _headers = delete_deliverability_test_with_http_info(test_id, opts)
      data
    end

    # Delete deliverability/load test
    # Delete test and all persisted entity-level results.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteResult, Integer, Hash)>] DeleteResult data, response status code and response headers
    def delete_deliverability_test_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.delete_deliverability_test ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.delete_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeleteResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#delete_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate deliverability/load test
    # Create a fresh deliverability test using an existing test configuration, including selector scope, exclusions, and expectations.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityTestDto]
    def duplicate_deliverability_test(test_id, opts = {})
      data, _status_code, _headers = duplicate_deliverability_test_with_http_info(test_id, opts)
      data
    end

    # Duplicate deliverability/load test
    # Create a fresh deliverability test using an existing test configuration, including selector scope, exclusions, and expectations.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityTestDto, Integer, Hash)>] DeliverabilityTestDto data, response status code and response headers
    def duplicate_deliverability_test_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.duplicate_deliverability_test ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.duplicate_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/duplicate'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#duplicate_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export deliverability/load test report as PDF
    # Export a PDF report for a terminal deliverability test (COMPLETE, FAILED, or STOPPED), including configuration, summary outcomes, and detailed entity-level results.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def export_deliverability_test_report(test_id, opts = {})
      export_deliverability_test_report_with_http_info(test_id, opts)
      nil
    end

    # Export deliverability/load test report as PDF
    # Export a PDF report for a terminal deliverability test (COMPLETE, FAILED, or STOPPED), including configuration, summary outcomes, and detailed entity-level results.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def export_deliverability_test_report_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.export_deliverability_test_report ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.export_deliverability_test_report"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/report/export'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#export_deliverability_test_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export deliverability/load test entity results as CSV
    # Export per-entity deliverability results including expectation-level pass/fail counts. The latest status is evaluated with the same polling safeguards before export.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :matched 
    # @return [nil]
    def export_deliverability_test_results(test_id, opts = {})
      export_deliverability_test_results_with_http_info(test_id, opts)
      nil
    end

    # Export deliverability/load test entity results as CSV
    # Export per-entity deliverability results including expectation-level pass/fail counts. The latest status is evaluated with the same polling safeguards before export.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :matched 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def export_deliverability_test_results_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.export_deliverability_test_results ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.export_deliverability_test_results"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/results/export'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'matched'] = opts[:'matched'] if !opts[:'matched'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#export_deliverability_test_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deliverability analytics time series
    # Compare deliverability runs over a time range with bucketed chart metrics and run-level rows for table views.
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :scope 
    # @option opts [String] :bucket  (default to 'DAY')
    # @option opts [Integer] :run_limit 
    # @return [DeliverabilityAnalyticsSeriesDto]
    def get_deliverability_analytics_series(opts = {})
      data, _status_code, _headers = get_deliverability_analytics_series_with_http_info(opts)
      data
    end

    # Get deliverability analytics time series
    # Compare deliverability runs over a time range with bucketed chart metrics and run-level rows for table views.
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :scope 
    # @option opts [String] :bucket 
    # @option opts [Integer] :run_limit 
    # @return [Array<(DeliverabilityAnalyticsSeriesDto, Integer, Hash)>] DeliverabilityAnalyticsSeriesDto data, response status code and response headers
    def get_deliverability_analytics_series_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_deliverability_analytics_series ...'
      end
      allowable_values = ["INBOX", "PHONE"]
      if @api_client.config.client_side_validation && opts[:'scope'] && !allowable_values.include?(opts[:'scope'])
        fail ArgumentError, "invalid value for \"scope\", must be one of #{allowable_values}"
      end
      allowable_values = ["HOUR", "DAY"]
      if @api_client.config.client_side_validation && opts[:'bucket'] && !allowable_values.include?(opts[:'bucket'])
        fail ArgumentError, "invalid value for \"bucket\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/test/deliverability/analytics/series'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'scope'] = opts[:'scope'] if !opts[:'scope'].nil?
      query_params[:'bucket'] = opts[:'bucket'] if !opts[:'bucket'].nil?
      query_params[:'runLimit'] = opts[:'run_limit'] if !opts[:'run_limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityAnalyticsSeriesDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_deliverability_analytics_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deliverability failure hotspots
    # Find commonly failing entities and phone country/variant dimensions across deliverability runs in a time range.
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :scope 
    # @option opts [Integer] :limit 
    # @return [DeliverabilityFailureHotspotsDto]
    def get_deliverability_failure_hotspots(opts = {})
      data, _status_code, _headers = get_deliverability_failure_hotspots_with_http_info(opts)
      data
    end

    # Get deliverability failure hotspots
    # Find commonly failing entities and phone country/variant dimensions across deliverability runs in a time range.
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :scope 
    # @option opts [Integer] :limit 
    # @return [Array<(DeliverabilityFailureHotspotsDto, Integer, Hash)>] DeliverabilityFailureHotspotsDto data, response status code and response headers
    def get_deliverability_failure_hotspots_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_deliverability_failure_hotspots ...'
      end
      allowable_values = ["INBOX", "PHONE"]
      if @api_client.config.client_side_validation && opts[:'scope'] && !allowable_values.include?(opts[:'scope'])
        fail ArgumentError, "invalid value for \"scope\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/test/deliverability/analytics/hotspots'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'scope'] = opts[:'scope'] if !opts[:'scope'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityFailureHotspotsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_deliverability_failure_hotspots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deliverability simulation job
    # Get simulation job status and progress counters.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilitySimulationJobDto]
    def get_deliverability_simulation_job(test_id, job_id, opts = {})
      data, _status_code, _headers = get_deliverability_simulation_job_with_http_info(test_id, job_id, opts)
      data
    end

    # Get deliverability simulation job
    # Get simulation job status and progress counters.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilitySimulationJobDto, Integer, Hash)>] DeliverabilitySimulationJobDto data, response status code and response headers
    def get_deliverability_simulation_job_with_http_info(test_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_deliverability_simulation_job ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.get_deliverability_simulation_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling DeliverabilityTestControllerApi.get_deliverability_simulation_job"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/simulation-jobs/{jobId}'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s)).sub('{' + 'jobId' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilitySimulationJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_deliverability_simulation_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deliverability simulation job events
    # Get paged simulation events including send successes and failures.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @option opts [String] :sort  (default to 'DESC')
    # @return [DeliverabilitySimulationJobEventPageDto]
    def get_deliverability_simulation_job_events(test_id, job_id, opts = {})
      data, _status_code, _headers = get_deliverability_simulation_job_events_with_http_info(test_id, job_id, opts)
      data
    end

    # Get deliverability simulation job events
    # Get paged simulation events including send successes and failures.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @option opts [String] :sort 
    # @return [Array<(DeliverabilitySimulationJobEventPageDto, Integer, Hash)>] DeliverabilitySimulationJobEventPageDto data, response status code and response headers
    def get_deliverability_simulation_job_events_with_http_info(test_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_deliverability_simulation_job_events ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.get_deliverability_simulation_job_events"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling DeliverabilityTestControllerApi.get_deliverability_simulation_job_events"
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/simulation-jobs/{jobId}/events'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s)).sub('{' + 'jobId' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilitySimulationJobEventPageDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_deliverability_simulation_job_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deliverability/load test
    # Get deliverability test configuration and latest progress counters.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityTestDto]
    def get_deliverability_test(test_id, opts = {})
      data, _status_code, _headers = get_deliverability_test_with_http_info(test_id, opts)
      data
    end

    # Get deliverability/load test
    # Get deliverability test configuration and latest progress counters.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityTestDto, Integer, Hash)>] DeliverabilityTestDto data, response status code and response headers
    def get_deliverability_test_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_deliverability_test ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.get_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deliverability/load test entity results
    # Get paged per-entity expectation results with optional matched/unmatched filtering.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :matched 
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @option opts [String] :sort  (default to 'ASC')
    # @return [DeliverabilityEntityResultPageDto]
    def get_deliverability_test_results(test_id, opts = {})
      data, _status_code, _headers = get_deliverability_test_results_with_http_info(test_id, opts)
      data
    end

    # Get deliverability/load test entity results
    # Get paged per-entity expectation results with optional matched/unmatched filtering.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :matched 
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @option opts [String] :sort 
    # @return [Array<(DeliverabilityEntityResultPageDto, Integer, Hash)>] DeliverabilityEntityResultPageDto data, response status code and response headers
    def get_deliverability_test_results_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_deliverability_test_results ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.get_deliverability_test_results"
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/results'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'matched'] = opts[:'matched'] if !opts[:'matched'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityEntityResultPageDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_deliverability_test_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List deliverability/load tests
    # List deliverability tests for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page index (default to 0)
    # @option opts [Integer] :size Page size (default to 20)
    # @option opts [String] :sort Sort direction (default to 'DESC')
    # @return [DeliverabilityTestPageDto]
    def get_deliverability_tests(opts = {})
      data, _status_code, _headers = get_deliverability_tests_with_http_info(opts)
      data
    end

    # List deliverability/load tests
    # List deliverability tests for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page index
    # @option opts [Integer] :size Page size
    # @option opts [String] :sort Sort direction
    # @return [Array<(DeliverabilityTestPageDto, Integer, Hash)>] DeliverabilityTestPageDto data, response status code and response headers
    def get_deliverability_tests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_deliverability_tests ...'
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/test/deliverability'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestPageDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_deliverability_tests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get latest deliverability simulation job
    # Get the most recent simulation job for a deliverability test.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilitySimulationJobDto]
    def get_latest_deliverability_simulation_job(test_id, opts = {})
      data, _status_code, _headers = get_latest_deliverability_simulation_job_with_http_info(test_id, opts)
      data
    end

    # Get latest deliverability simulation job
    # Get the most recent simulation job for a deliverability test.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilitySimulationJobDto, Integer, Hash)>] DeliverabilitySimulationJobDto data, response status code and response headers
    def get_latest_deliverability_simulation_job_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.get_latest_deliverability_simulation_job ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.get_latest_deliverability_simulation_job"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/simulation-jobs/latest'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilitySimulationJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#get_latest_deliverability_simulation_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause deliverability simulation job
    # Pause a running simulation job.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilitySimulationJobDto]
    def pause_deliverability_simulation_job(test_id, job_id, opts = {})
      data, _status_code, _headers = pause_deliverability_simulation_job_with_http_info(test_id, job_id, opts)
      data
    end

    # Pause deliverability simulation job
    # Pause a running simulation job.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilitySimulationJobDto, Integer, Hash)>] DeliverabilitySimulationJobDto data, response status code and response headers
    def pause_deliverability_simulation_job_with_http_info(test_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.pause_deliverability_simulation_job ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.pause_deliverability_simulation_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling DeliverabilityTestControllerApi.pause_deliverability_simulation_job"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/simulation-jobs/{jobId}/pause'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s)).sub('{' + 'jobId' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilitySimulationJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#pause_deliverability_simulation_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause deliverability/load test
    # Pause a RUNNING or SCHEDULED deliverability test.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityTestDto]
    def pause_deliverability_test(test_id, opts = {})
      data, _status_code, _headers = pause_deliverability_test_with_http_info(test_id, opts)
      data
    end

    # Pause deliverability/load test
    # Pause a RUNNING or SCHEDULED deliverability test.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityTestDto, Integer, Hash)>] DeliverabilityTestDto data, response status code and response headers
    def pause_deliverability_test_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.pause_deliverability_test ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.pause_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/pause'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#pause_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Poll deliverability/load test status
    # Poll test progress. Evaluation is throttled with a 5-second cache window to protect backing data stores.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityPollStatusResultDto]
    def poll_deliverability_test_status(test_id, opts = {})
      data, _status_code, _headers = poll_deliverability_test_status_with_http_info(test_id, opts)
      data
    end

    # Poll deliverability/load test status
    # Poll test progress. Evaluation is throttled with a 5-second cache window to protect backing data stores.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityPollStatusResultDto, Integer, Hash)>] DeliverabilityPollStatusResultDto data, response status code and response headers
    def poll_deliverability_test_status_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.poll_deliverability_test_status ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.poll_deliverability_test_status"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/status'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityPollStatusResultDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#poll_deliverability_test_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resume deliverability simulation job
    # Resume a paused simulation job.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilitySimulationJobDto]
    def resume_deliverability_simulation_job(test_id, job_id, opts = {})
      data, _status_code, _headers = resume_deliverability_simulation_job_with_http_info(test_id, job_id, opts)
      data
    end

    # Resume deliverability simulation job
    # Resume a paused simulation job.
    # @param test_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilitySimulationJobDto, Integer, Hash)>] DeliverabilitySimulationJobDto data, response status code and response headers
    def resume_deliverability_simulation_job_with_http_info(test_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.resume_deliverability_simulation_job ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.resume_deliverability_simulation_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling DeliverabilityTestControllerApi.resume_deliverability_simulation_job"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/simulation-jobs/{jobId}/resume'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s)).sub('{' + 'jobId' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilitySimulationJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#resume_deliverability_simulation_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start or resume deliverability/load test
    # Start a CREATED test or resume a PAUSED/SCHEDULED test.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityTestDto]
    def start_deliverability_test(test_id, opts = {})
      data, _status_code, _headers = start_deliverability_test_with_http_info(test_id, opts)
      data
    end

    # Start or resume deliverability/load test
    # Start a CREATED test or resume a PAUSED/SCHEDULED test.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityTestDto, Integer, Hash)>] DeliverabilityTestDto data, response status code and response headers
    def start_deliverability_test_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.start_deliverability_test ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.start_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/start'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#start_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop deliverability/load test
    # Stop a deliverability test and mark it terminal.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityTestDto]
    def stop_deliverability_test(test_id, opts = {})
      data, _status_code, _headers = stop_deliverability_test_with_http_info(test_id, opts)
      data
    end

    # Stop deliverability/load test
    # Stop a deliverability test and mark it terminal.
    # @param test_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityTestDto, Integer, Hash)>] DeliverabilityTestDto data, response status code and response headers
    def stop_deliverability_test_with_http_info(test_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.stop_deliverability_test ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.stop_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}/stop'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#stop_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update deliverability/load test
    # Update metadata, timeout, and expectations for a non-running non-terminal test.
    # @param test_id [String] 
    # @param update_deliverability_test_options [UpdateDeliverabilityTestOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverabilityTestDto]
    def update_deliverability_test(test_id, update_deliverability_test_options, opts = {})
      data, _status_code, _headers = update_deliverability_test_with_http_info(test_id, update_deliverability_test_options, opts)
      data
    end

    # Update deliverability/load test
    # Update metadata, timeout, and expectations for a non-running non-terminal test.
    # @param test_id [String] 
    # @param update_deliverability_test_options [UpdateDeliverabilityTestOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverabilityTestDto, Integer, Hash)>] DeliverabilityTestDto data, response status code and response headers
    def update_deliverability_test_with_http_info(test_id, update_deliverability_test_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliverabilityTestControllerApi.update_deliverability_test ...'
      end
      # verify the required parameter 'test_id' is set
      if @api_client.config.client_side_validation && test_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_id' when calling DeliverabilityTestControllerApi.update_deliverability_test"
      end
      # verify the required parameter 'update_deliverability_test_options' is set
      if @api_client.config.client_side_validation && update_deliverability_test_options.nil?
        fail ArgumentError, "Missing the required parameter 'update_deliverability_test_options' when calling DeliverabilityTestControllerApi.update_deliverability_test"
      end
      # resource path
      local_var_path = '/test/deliverability/{testId}'.sub('{' + 'testId' + '}', CGI.escape(test_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(update_deliverability_test_options) 

      # return_type
      return_type = opts[:return_type] || 'DeliverabilityTestDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliverabilityTestControllerApi#update_deliverability_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
