=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class DevicePreviewsControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a running device preview run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelDevicePreviewRunOptions] :cancel_device_preview_run_options 
    # @return [CancelDevicePreviewRunResult]
    def cancel_device_preview_run(run_id, opts = {})
      data, _status_code, _headers = cancel_device_preview_run_with_http_info(run_id, opts)
      data
    end

    # Cancel a running device preview run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelDevicePreviewRunOptions] :cancel_device_preview_run_options 
    # @return [Array<(CancelDevicePreviewRunResult, Integer, Hash)>] CancelDevicePreviewRunResult data, response status code and response headers
    def cancel_device_preview_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.cancel_device_preview_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DevicePreviewsControllerApi.cancel_device_preview_run"
      end
      # resource path
      local_var_path = '/emails/device-previews/{runId}/cancel'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'cancel_device_preview_run_options']) 

      # return_type
      return_type = opts[:return_type] || 'CancelDevicePreviewRunResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#cancel_device_preview_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create device preview feedback
    # @param create_device_preview_feedback_options [CreateDevicePreviewFeedbackOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DevicePreviewFeedbackDto]
    def create_device_preview_feedback(create_device_preview_feedback_options, opts = {})
      data, _status_code, _headers = create_device_preview_feedback_with_http_info(create_device_preview_feedback_options, opts)
      data
    end

    # Create device preview feedback
    # @param create_device_preview_feedback_options [CreateDevicePreviewFeedbackOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicePreviewFeedbackDto, Integer, Hash)>] DevicePreviewFeedbackDto data, response status code and response headers
    def create_device_preview_feedback_with_http_info(create_device_preview_feedback_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.create_device_preview_feedback ...'
      end
      # verify the required parameter 'create_device_preview_feedback_options' is set
      if @api_client.config.client_side_validation && create_device_preview_feedback_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_device_preview_feedback_options' when calling DevicePreviewsControllerApi.create_device_preview_feedback"
      end
      # resource path
      local_var_path = '/emails/device-previews/feedback'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_device_preview_feedback_options) 

      # return_type
      return_type = opts[:return_type] || 'DevicePreviewFeedbackDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#create_device_preview_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new device preview run for an email
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateDevicePreviewOptions] :create_device_preview_options 
    # @return [CreateDevicePreviewRunResult]
    def create_device_preview_run(email_id, opts = {})
      data, _status_code, _headers = create_device_preview_run_with_http_info(email_id, opts)
      data
    end

    # Create a new device preview run for an email
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateDevicePreviewOptions] :create_device_preview_options 
    # @return [Array<(CreateDevicePreviewRunResult, Integer, Hash)>] CreateDevicePreviewRunResult data, response status code and response headers
    def create_device_preview_run_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.create_device_preview_run ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DevicePreviewsControllerApi.create_device_preview_run"
      end
      # resource path
      local_var_path = '/emails/{emailId}/device-previews'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'create_device_preview_options']) 

      # return_type
      return_type = opts[:return_type] || 'CreateDevicePreviewRunResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#create_device_preview_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete local device preview run data
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteDevicePreviewRunResult]
    def delete_device_preview_run(run_id, opts = {})
      data, _status_code, _headers = delete_device_preview_run_with_http_info(run_id, opts)
      data
    end

    # Delete local device preview run data
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDevicePreviewRunResult, Integer, Hash)>] DeleteDevicePreviewRunResult data, response status code and response headers
    def delete_device_preview_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.delete_device_preview_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DevicePreviewsControllerApi.delete_device_preview_run"
      end
      # resource path
      local_var_path = '/emails/device-previews/{runId}'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeleteDevicePreviewRunResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#delete_device_preview_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return active run for email or create one when none exists
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateDevicePreviewOptions] :create_device_preview_options 
    # @return [CreateDevicePreviewRunResult]
    def ensure_device_preview_run(email_id, opts = {})
      data, _status_code, _headers = ensure_device_preview_run_with_http_info(email_id, opts)
      data
    end

    # Return active run for email or create one when none exists
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateDevicePreviewOptions] :create_device_preview_options 
    # @return [Array<(CreateDevicePreviewRunResult, Integer, Hash)>] CreateDevicePreviewRunResult data, response status code and response headers
    def ensure_device_preview_run_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.ensure_device_preview_run ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DevicePreviewsControllerApi.ensure_device_preview_run"
      end
      # resource path
      local_var_path = '/emails/{emailId}/device-previews/latest'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'create_device_preview_options']) 

      # return_type
      return_type = opts[:return_type] || 'CreateDevicePreviewRunResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#ensure_device_preview_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single device preview feedback item
    # @param feedback_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DevicePreviewFeedbackDto]
    def get_device_preview_feedback(feedback_id, opts = {})
      data, _status_code, _headers = get_device_preview_feedback_with_http_info(feedback_id, opts)
      data
    end

    # Get a single device preview feedback item
    # @param feedback_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicePreviewFeedbackDto, Integer, Hash)>] DevicePreviewFeedbackDto data, response status code and response headers
    def get_device_preview_feedback_with_http_info(feedback_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_feedback ...'
      end
      # verify the required parameter 'feedback_id' is set
      if @api_client.config.client_side_validation && feedback_id.nil?
        fail ArgumentError, "Missing the required parameter 'feedback_id' when calling DevicePreviewsControllerApi.get_device_preview_feedback"
      end
      # resource path
      local_var_path = '/emails/device-previews/feedback/{feedbackId}'.sub('{' + 'feedbackId' + '}', CGI.escape(feedback_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DevicePreviewFeedbackDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List device preview feedback
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @option opts [String] :source 
    # @option opts [String] :run_id 
    # @option opts [String] :status 
    # @option opts [String] :provider 
    # @option opts [String] :category 
    # @option opts [String] :search 
    # @return [DevicePreviewFeedbackListDto]
    def get_device_preview_feedback_items(opts = {})
      data, _status_code, _headers = get_device_preview_feedback_items_with_http_info(opts)
      data
    end

    # List device preview feedback
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @option opts [String] :source 
    # @option opts [String] :run_id 
    # @option opts [String] :status 
    # @option opts [String] :provider 
    # @option opts [String] :category 
    # @option opts [String] :search 
    # @return [Array<(DevicePreviewFeedbackListDto, Integer, Hash)>] DevicePreviewFeedbackListDto data, response status code and response headers
    def get_device_preview_feedback_items_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_feedback_items ...'
      end
      allowable_values = ["API_SERVICE", "LAB_USER", "END_USER", "SYSTEM"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      allowable_values = ["OPEN", "ACKNOWLEDGED", "RESOLVED", "DISMISSED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["GMAIL", "OUTLOOK", "YAHOO"]
      if @api_client.config.client_side_validation && opts[:'provider'] && !allowable_values.include?(opts[:'provider'])
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      allowable_values = ["GENERAL", "RUN_QUALITY", "SCREENSHOT_QUALITY", "PROVIDER_ISSUE", "BUG_REPORT", "FEATURE_REQUEST", "NOTE"]
      if @api_client.config.client_side_validation && opts[:'category'] && !allowable_values.include?(opts[:'category'])
        fail ArgumentError, "invalid value for \"category\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/emails/device-previews/feedback'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'runId'] = opts[:'run_id'] if !opts[:'run_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DevicePreviewFeedbackListDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_feedback_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get device preview run status
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DevicePreviewRunDto]
    def get_device_preview_run(run_id, opts = {})
      data, _status_code, _headers = get_device_preview_run_with_http_info(run_id, opts)
      data
    end

    # Get device preview run status
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicePreviewRunDto, Integer, Hash)>] DevicePreviewRunDto data, response status code and response headers
    def get_device_preview_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DevicePreviewsControllerApi.get_device_preview_run"
      end
      # resource path
      local_var_path = '/emails/device-previews/{runId}'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DevicePreviewRunDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get provider-level progress for a device preview run
    # @param run_id [String] 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [DevicePreviewProviderProgressDto]
    def get_device_preview_run_provider_progress(run_id, provider, opts = {})
      data, _status_code, _headers = get_device_preview_run_provider_progress_with_http_info(run_id, provider, opts)
      data
    end

    # Get provider-level progress for a device preview run
    # @param run_id [String] 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicePreviewProviderProgressDto, Integer, Hash)>] DevicePreviewProviderProgressDto data, response status code and response headers
    def get_device_preview_run_provider_progress_with_http_info(run_id, provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_run_provider_progress ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DevicePreviewsControllerApi.get_device_preview_run_provider_progress"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling DevicePreviewsControllerApi.get_device_preview_run_provider_progress"
      end
      # verify enum value
      allowable_values = ["GMAIL", "OUTLOOK", "YAHOO"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/emails/device-previews/{runId}/providers/{provider}'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DevicePreviewProviderProgressDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_run_provider_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get device preview run results
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DevicePreviewRunResultsDto]
    def get_device_preview_run_results(run_id, opts = {})
      data, _status_code, _headers = get_device_preview_run_results_with_http_info(run_id, opts)
      data
    end

    # Get device preview run results
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicePreviewRunResultsDto, Integer, Hash)>] DevicePreviewRunResultsDto data, response status code and response headers
    def get_device_preview_run_results_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_run_results ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DevicePreviewsControllerApi.get_device_preview_run_results"
      end
      # resource path
      local_var_path = '/emails/device-previews/{runId}/results'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DevicePreviewRunResultsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_run_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a seeded device preview screenshot image
    # @param run_id [String] 
    # @param screenshot_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def get_device_preview_run_screenshot(run_id, screenshot_id, opts = {})
      data, _status_code, _headers = get_device_preview_run_screenshot_with_http_info(run_id, screenshot_id, opts)
      data
    end

    # Get a seeded device preview screenshot image
    # @param run_id [String] 
    # @param screenshot_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def get_device_preview_run_screenshot_with_http_info(run_id, screenshot_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_run_screenshot ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DevicePreviewsControllerApi.get_device_preview_run_screenshot"
      end
      # verify the required parameter 'screenshot_id' is set
      if @api_client.config.client_side_validation && screenshot_id.nil?
        fail ArgumentError, "Missing the required parameter 'screenshot_id' when calling DevicePreviewsControllerApi.get_device_preview_run_screenshot"
      end
      # resource path
      local_var_path = '/emails/device-previews/{runId}/screenshots/{screenshotId}/image'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s)).sub('{' + 'screenshotId' + '}', CGI.escape(screenshot_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'String' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_run_screenshot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List previous device preview runs for an email
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<DevicePreviewRunDto>]
    def get_device_preview_runs(email_id, opts = {})
      data, _status_code, _headers = get_device_preview_runs_with_http_info(email_id, opts)
      data
    end

    # List previous device preview runs for an email
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [Array<(Array<DevicePreviewRunDto>, Integer, Hash)>] Array<DevicePreviewRunDto> data, response status code and response headers
    def get_device_preview_runs_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_runs ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DevicePreviewsControllerApi.get_device_preview_runs"
      end
      # resource path
      local_var_path = '/emails/{emailId}/device-previews'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DevicePreviewRunDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List previous device preview runs for account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<DevicePreviewRunDto>]
    def get_device_preview_runs_for_account(opts = {})
      data, _status_code, _headers = get_device_preview_runs_for_account_with_http_info(opts)
      data
    end

    # List previous device preview runs for account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [Array<(Array<DevicePreviewRunDto>, Integer, Hash)>] Array<DevicePreviewRunDto> data, response status code and response headers
    def get_device_preview_runs_for_account_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_runs_for_account ...'
      end
      # resource path
      local_var_path = '/emails/device-previews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DevicePreviewRunDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_runs_for_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List previous device preview runs for an email in paginated form
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in list pagination (default to 0)
    # @option opts [Integer] :size Optional page size for paginated result list. (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'DESC')
    # @return [PageDevicePreviewRunProjection]
    def get_device_preview_runs_offset_paginated(email_id, opts = {})
      data, _status_code, _headers = get_device_preview_runs_offset_paginated_with_http_info(email_id, opts)
      data
    end

    # List previous device preview runs for an email in paginated form
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in list pagination
    # @option opts [Integer] :size Optional page size for paginated result list.
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @return [Array<(PageDevicePreviewRunProjection, Integer, Hash)>] PageDevicePreviewRunProjection data, response status code and response headers
    def get_device_preview_runs_offset_paginated_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.get_device_preview_runs_offset_paginated ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DevicePreviewsControllerApi.get_device_preview_runs_offset_paginated"
      end
      if @api_client.config.client_side_validation && !opts[:'size'].nil? && opts[:'size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"size"]" when calling DevicePreviewsControllerApi.get_device_preview_runs_offset_paginated, must be smaller than or equal to 100.'
      end

      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/emails/{emailId}/device-previews/offset-paginated'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PageDevicePreviewRunProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#get_device_preview_runs_offset_paginated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update device preview feedback
    # @param feedback_id [String] 
    # @param update_device_preview_feedback_options [UpdateDevicePreviewFeedbackOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DevicePreviewFeedbackDto]
    def update_device_preview_feedback(feedback_id, update_device_preview_feedback_options, opts = {})
      data, _status_code, _headers = update_device_preview_feedback_with_http_info(feedback_id, update_device_preview_feedback_options, opts)
      data
    end

    # Update device preview feedback
    # @param feedback_id [String] 
    # @param update_device_preview_feedback_options [UpdateDevicePreviewFeedbackOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DevicePreviewFeedbackDto, Integer, Hash)>] DevicePreviewFeedbackDto data, response status code and response headers
    def update_device_preview_feedback_with_http_info(feedback_id, update_device_preview_feedback_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicePreviewsControllerApi.update_device_preview_feedback ...'
      end
      # verify the required parameter 'feedback_id' is set
      if @api_client.config.client_side_validation && feedback_id.nil?
        fail ArgumentError, "Missing the required parameter 'feedback_id' when calling DevicePreviewsControllerApi.update_device_preview_feedback"
      end
      # verify the required parameter 'update_device_preview_feedback_options' is set
      if @api_client.config.client_side_validation && update_device_preview_feedback_options.nil?
        fail ArgumentError, "Missing the required parameter 'update_device_preview_feedback_options' when calling DevicePreviewsControllerApi.update_device_preview_feedback"
      end
      # resource path
      local_var_path = '/emails/device-previews/feedback/{feedbackId}'.sub('{' + 'feedbackId' + '}', CGI.escape(feedback_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(update_device_preview_feedback_options) 

      # return_type
      return_type = opts[:return_type] || 'DevicePreviewFeedbackDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicePreviewsControllerApi#update_device_preview_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
