=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class DomainMonitorControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Compare two monitor runs
    # @param monitor_id [String] 
    # @param run_id [String] 
    # @param other_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainMonitorRunComparisonDto]
    def compare_domain_monitor_runs(monitor_id, run_id, other_run_id, opts = {})
      data, _status_code, _headers = compare_domain_monitor_runs_with_http_info(monitor_id, run_id, other_run_id, opts)
      data
    end

    # Compare two monitor runs
    # @param monitor_id [String] 
    # @param run_id [String] 
    # @param other_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainMonitorRunComparisonDto, Integer, Hash)>] DomainMonitorRunComparisonDto data, response status code and response headers
    def compare_domain_monitor_runs_with_http_info(monitor_id, run_id, other_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.compare_domain_monitor_runs ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.compare_domain_monitor_runs"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DomainMonitorControllerApi.compare_domain_monitor_runs"
      end
      # verify the required parameter 'other_run_id' is set
      if @api_client.config.client_side_validation && other_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'other_run_id' when calling DomainMonitorControllerApi.compare_domain_monitor_runs"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/runs/{runId}/compare/{otherRunId}'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s)).sub('{' + 'runId' + '}', CGI.escape(run_id.to_s)).sub('{' + 'otherRunId' + '}', CGI.escape(other_run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorRunComparisonDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#compare_domain_monitor_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create domain monitor
    # @param create_domain_monitor_options [CreateDomainMonitorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DomainMonitorDto]
    def create_domain_monitor(create_domain_monitor_options, opts = {})
      data, _status_code, _headers = create_domain_monitor_with_http_info(create_domain_monitor_options, opts)
      data
    end

    # Create domain monitor
    # @param create_domain_monitor_options [CreateDomainMonitorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainMonitorDto, Integer, Hash)>] DomainMonitorDto data, response status code and response headers
    def create_domain_monitor_with_http_info(create_domain_monitor_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.create_domain_monitor ...'
      end
      # verify the required parameter 'create_domain_monitor_options' is set
      if @api_client.config.client_side_validation && create_domain_monitor_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_domain_monitor_options' when calling DomainMonitorControllerApi.create_domain_monitor"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_domain_monitor_options) 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#create_domain_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create alert sink for monitor
    # @param monitor_id [String] 
    # @param create_domain_monitor_alert_sink_options [CreateDomainMonitorAlertSinkOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DomainMonitorAlertSinkDto]
    def create_domain_monitor_alert_sink(monitor_id, create_domain_monitor_alert_sink_options, opts = {})
      data, _status_code, _headers = create_domain_monitor_alert_sink_with_http_info(monitor_id, create_domain_monitor_alert_sink_options, opts)
      data
    end

    # Create alert sink for monitor
    # @param monitor_id [String] 
    # @param create_domain_monitor_alert_sink_options [CreateDomainMonitorAlertSinkOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainMonitorAlertSinkDto, Integer, Hash)>] DomainMonitorAlertSinkDto data, response status code and response headers
    def create_domain_monitor_alert_sink_with_http_info(monitor_id, create_domain_monitor_alert_sink_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.create_domain_monitor_alert_sink ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.create_domain_monitor_alert_sink"
      end
      # verify the required parameter 'create_domain_monitor_alert_sink_options' is set
      if @api_client.config.client_side_validation && create_domain_monitor_alert_sink_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_domain_monitor_alert_sink_options' when calling DomainMonitorControllerApi.create_domain_monitor_alert_sink"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/alert-sinks'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_domain_monitor_alert_sink_options) 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorAlertSinkDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#create_domain_monitor_alert_sink\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete domain monitor
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_domain_monitor(monitor_id, opts = {})
      delete_domain_monitor_with_http_info(monitor_id, opts)
      nil
    end

    # Delete domain monitor
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_domain_monitor_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.delete_domain_monitor ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.delete_domain_monitor"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#delete_domain_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete monitor alert sink
    # @param monitor_id [String] 
    # @param sink_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_domain_monitor_alert_sink(monitor_id, sink_id, opts = {})
      delete_domain_monitor_alert_sink_with_http_info(monitor_id, sink_id, opts)
      nil
    end

    # Delete monitor alert sink
    # @param monitor_id [String] 
    # @param sink_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_domain_monitor_alert_sink_with_http_info(monitor_id, sink_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.delete_domain_monitor_alert_sink ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.delete_domain_monitor_alert_sink"
      end
      # verify the required parameter 'sink_id' is set
      if @api_client.config.client_side_validation && sink_id.nil?
        fail ArgumentError, "Missing the required parameter 'sink_id' when calling DomainMonitorControllerApi.delete_domain_monitor_alert_sink"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/alert-sinks/{sinkId}'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s)).sub('{' + 'sinkId' + '}', CGI.escape(sink_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#delete_domain_monitor_alert_sink\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get domain monitor
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainMonitorDto]
    def get_domain_monitor(monitor_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_with_http_info(monitor_id, opts)
      data
    end

    # Get domain monitor
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainMonitorDto, Integer, Hash)>] DomainMonitorDto data, response status code and response headers
    def get_domain_monitor_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List alert sinks for monitor
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<DomainMonitorAlertSinkDto>]
    def get_domain_monitor_alert_sinks(monitor_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_alert_sinks_with_http_info(monitor_id, opts)
      data
    end

    # List alert sinks for monitor
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DomainMonitorAlertSinkDto>, Integer, Hash)>] Array<DomainMonitorAlertSinkDto> data, response status code and response headers
    def get_domain_monitor_alert_sinks_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor_alert_sinks ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor_alert_sinks"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/alert-sinks'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DomainMonitorAlertSinkDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor_alert_sinks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current auth stack for monitor domain
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :dkim_selector 
    # @return [CheckEmailAuthStackResults]
    def get_domain_monitor_auth_stack(monitor_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_auth_stack_with_http_info(monitor_id, opts)
      data
    end

    # Get current auth stack for monitor domain
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :dkim_selector 
    # @return [Array<(CheckEmailAuthStackResults, Integer, Hash)>] CheckEmailAuthStackResults data, response status code and response headers
    def get_domain_monitor_auth_stack_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor_auth_stack ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor_auth_stack"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/auth-stack'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dkimSelector'] = opts[:'dkim_selector'] if !opts[:'dkim_selector'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CheckEmailAuthStackResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor_auth_stack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get monitor insights
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @return [DomainMonitorInsightsDto]
    def get_domain_monitor_insights(monitor_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_insights_with_http_info(monitor_id, opts)
      data
    end

    # Get monitor insights
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @return [Array<(DomainMonitorInsightsDto, Integer, Hash)>] DomainMonitorInsightsDto data, response status code and response headers
    def get_domain_monitor_insights_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor_insights ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor_insights"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/insights'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorInsightsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get monitor run
    # @param monitor_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainMonitorRunDto]
    def get_domain_monitor_run(monitor_id, run_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_run_with_http_info(monitor_id, run_id, opts)
      data
    end

    # Get monitor run
    # @param monitor_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainMonitorRunDto, Integer, Hash)>] DomainMonitorRunDto data, response status code and response headers
    def get_domain_monitor_run_with_http_info(monitor_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor_run ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DomainMonitorControllerApi.get_domain_monitor_run"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/runs/{runId}'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s)).sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorRunDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List monitor runs
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @return [Array<DomainMonitorRunDto>]
    def get_domain_monitor_runs(monitor_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_runs_with_http_info(monitor_id, opts)
      data
    end

    # List monitor runs
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @return [Array<(Array<DomainMonitorRunDto>, Integer, Hash)>] Array<DomainMonitorRunDto> data, response status code and response headers
    def get_domain_monitor_runs_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor_runs ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor_runs"
      end
      allowable_values = ["HEALTHY", "DEGRADED", "CRITICAL", "FAILED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/runs'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DomainMonitorRunDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get monitor trend series
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :bucket  (default to 'DAY')
    # @return [DomainMonitorSeriesDto]
    def get_domain_monitor_series(monitor_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_series_with_http_info(monitor_id, opts)
      data
    end

    # Get monitor trend series
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [String] :bucket 
    # @return [Array<(DomainMonitorSeriesDto, Integer, Hash)>] DomainMonitorSeriesDto data, response status code and response headers
    def get_domain_monitor_series_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor_series ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor_series"
      end
      allowable_values = ["HOUR", "DAY"]
      if @api_client.config.client_side_validation && opts[:'bucket'] && !allowable_values.include?(opts[:'bucket'])
        fail ArgumentError, "invalid value for \"bucket\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/series'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'bucket'] = opts[:'bucket'] if !opts[:'bucket'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorSeriesDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get domain monitor summary
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :dkim_selector 
    # @return [DomainMonitorSummaryDto]
    def get_domain_monitor_summary(monitor_id, opts = {})
      data, _status_code, _headers = get_domain_monitor_summary_with_http_info(monitor_id, opts)
      data
    end

    # Get domain monitor summary
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :dkim_selector 
    # @return [Array<(DomainMonitorSummaryDto, Integer, Hash)>] DomainMonitorSummaryDto data, response status code and response headers
    def get_domain_monitor_summary_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitor_summary ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.get_domain_monitor_summary"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/summary'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dkimSelector'] = opts[:'dkim_selector'] if !opts[:'dkim_selector'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorSummaryDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitor_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List domain monitors
    # @param [Hash] opts the optional parameters
    # @return [Array<DomainMonitorDto>]
    def get_domain_monitors(opts = {})
      data, _status_code, _headers = get_domain_monitors_with_http_info(opts)
      data
    end

    # List domain monitors
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DomainMonitorDto>, Integer, Hash)>] Array<DomainMonitorDto> data, response status code and response headers
    def get_domain_monitors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.get_domain_monitors ...'
      end
      # resource path
      local_var_path = '/domain-monitor/monitors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<DomainMonitorDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#get_domain_monitors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run monitor now
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainMonitorRunNowResult]
    def run_domain_monitor_now(monitor_id, opts = {})
      data, _status_code, _headers = run_domain_monitor_now_with_http_info(monitor_id, opts)
      data
    end

    # Run monitor now
    # @param monitor_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainMonitorRunNowResult, Integer, Hash)>] DomainMonitorRunNowResult data, response status code and response headers
    def run_domain_monitor_now_with_http_info(monitor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.run_domain_monitor_now ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.run_domain_monitor_now"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}/run-now'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorRunNowResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#run_domain_monitor_now\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run due monitors for user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_runs 
    # @return [DomainMonitorRunDueResult]
    def run_due_domain_monitors(opts = {})
      data, _status_code, _headers = run_due_domain_monitors_with_http_info(opts)
      data
    end

    # Run due monitors for user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_runs 
    # @return [Array<(DomainMonitorRunDueResult, Integer, Hash)>] DomainMonitorRunDueResult data, response status code and response headers
    def run_due_domain_monitors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.run_due_domain_monitors ...'
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/run-due'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'maxRuns'] = opts[:'max_runs'] if !opts[:'max_runs'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorRunDueResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#run_due_domain_monitors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update domain monitor
    # @param monitor_id [String] 
    # @param update_domain_monitor_options [UpdateDomainMonitorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [DomainMonitorDto]
    def update_domain_monitor(monitor_id, update_domain_monitor_options, opts = {})
      data, _status_code, _headers = update_domain_monitor_with_http_info(monitor_id, update_domain_monitor_options, opts)
      data
    end

    # Update domain monitor
    # @param monitor_id [String] 
    # @param update_domain_monitor_options [UpdateDomainMonitorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainMonitorDto, Integer, Hash)>] DomainMonitorDto data, response status code and response headers
    def update_domain_monitor_with_http_info(monitor_id, update_domain_monitor_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainMonitorControllerApi.update_domain_monitor ...'
      end
      # verify the required parameter 'monitor_id' is set
      if @api_client.config.client_side_validation && monitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'monitor_id' when calling DomainMonitorControllerApi.update_domain_monitor"
      end
      # verify the required parameter 'update_domain_monitor_options' is set
      if @api_client.config.client_side_validation && update_domain_monitor_options.nil?
        fail ArgumentError, "Missing the required parameter 'update_domain_monitor_options' when calling DomainMonitorControllerApi.update_domain_monitor"
      end
      # resource path
      local_var_path = '/domain-monitor/monitors/{monitorId}'.sub('{' + 'monitorId' + '}', CGI.escape(monitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(update_domain_monitor_options) 

      # return_type
      return_type = opts[:return_type] || 'DomainMonitorDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainMonitorControllerApi#update_domain_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
