=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class EmailAuditControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Compare two email audits
    # @param audit_id [String] 
    # @param other_audit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAuditComparisonDto]
    def compare_email_audits(audit_id, other_audit_id, opts = {})
      data, _status_code, _headers = compare_email_audits_with_http_info(audit_id, other_audit_id, opts)
      data
    end

    # Compare two email audits
    # @param audit_id [String] 
    # @param other_audit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAuditComparisonDto, Integer, Hash)>] EmailAuditComparisonDto data, response status code and response headers
    def compare_email_audits_with_http_info(audit_id, other_audit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAuditControllerApi.compare_email_audits ...'
      end
      # verify the required parameter 'audit_id' is set
      if @api_client.config.client_side_validation && audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'audit_id' when calling EmailAuditControllerApi.compare_email_audits"
      end
      # verify the required parameter 'other_audit_id' is set
      if @api_client.config.client_side_validation && other_audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'other_audit_id' when calling EmailAuditControllerApi.compare_email_audits"
      end
      # resource path
      local_var_path = '/email-audits/{auditId}/compare/{otherAuditId}'.sub('{' + 'auditId' + '}', CGI.escape(audit_id.to_s)).sub('{' + 'otherAuditId' + '}', CGI.escape(other_audit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailAuditComparisonDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAuditControllerApi#compare_email_audits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create email audit
    # @param create_email_audit_options [CreateEmailAuditOptions] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAuditDto]
    def create_email_audit(create_email_audit_options, opts = {})
      data, _status_code, _headers = create_email_audit_with_http_info(create_email_audit_options, opts)
      data
    end

    # Create email audit
    # @param create_email_audit_options [CreateEmailAuditOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAuditDto, Integer, Hash)>] EmailAuditDto data, response status code and response headers
    def create_email_audit_with_http_info(create_email_audit_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAuditControllerApi.create_email_audit ...'
      end
      # verify the required parameter 'create_email_audit_options' is set
      if @api_client.config.client_side_validation && create_email_audit_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_email_audit_options' when calling EmailAuditControllerApi.create_email_audit"
      end
      # resource path
      local_var_path = '/email-audits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_email_audit_options) 

      # return_type
      return_type = opts[:return_type] || 'EmailAuditDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAuditControllerApi#create_email_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete email audit
    # @param audit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_email_audit(audit_id, opts = {})
      delete_email_audit_with_http_info(audit_id, opts)
      nil
    end

    # Delete email audit
    # @param audit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_email_audit_with_http_info(audit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAuditControllerApi.delete_email_audit ...'
      end
      # verify the required parameter 'audit_id' is set
      if @api_client.config.client_side_validation && audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'audit_id' when calling EmailAuditControllerApi.delete_email_audit"
      end
      # resource path
      local_var_path = '/email-audits/{auditId}'.sub('{' + 'auditId' + '}', CGI.escape(audit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAuditControllerApi#delete_email_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email audit
    # @param audit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAuditDto]
    def get_email_audit(audit_id, opts = {})
      data, _status_code, _headers = get_email_audit_with_http_info(audit_id, opts)
      data
    end

    # Get email audit
    # @param audit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAuditDto, Integer, Hash)>] EmailAuditDto data, response status code and response headers
    def get_email_audit_with_http_info(audit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAuditControllerApi.get_email_audit ...'
      end
      # verify the required parameter 'audit_id' is set
      if @api_client.config.client_side_validation && audit_id.nil?
        fail ArgumentError, "Missing the required parameter 'audit_id' when calling EmailAuditControllerApi.get_email_audit"
      end
      # resource path
      local_var_path = '/email-audits/{auditId}'.sub('{' + 'auditId' + '}', CGI.escape(audit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailAuditDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAuditControllerApi#get_email_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List email audits
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email_id 
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [Integer] :limit 
    # @return [Array<EmailAuditDto>]
    def get_email_audits(opts = {})
      data, _status_code, _headers = get_email_audits_with_http_info(opts)
      data
    end

    # List email audits
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email_id 
    # @option opts [DateTime] :since 
    # @option opts [DateTime] :before 
    # @option opts [Integer] :limit 
    # @return [Array<(Array<EmailAuditDto>, Integer, Hash)>] Array<EmailAuditDto> data, response status code and response headers
    def get_email_audits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAuditControllerApi.get_email_audits ...'
      end
      # resource path
      local_var_path = '/email-audits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailId'] = opts[:'email_id'] if !opts[:'email_id'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<EmailAuditDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAuditControllerApi#get_email_audits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
