=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class EmailControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Set IMAP flags associated with a message. Only supports '\\Seen' flag.
    # Applies RFC3501 IMAP flag operations on a message. Current implementation supports read/unread semantics via the `\\\\Seen` flag only.
    # @param email_id [String] 
    # @param imap_flag_operation_options [ImapFlagOperationOptions] 
    # @param [Hash] opts the optional parameters
    # @return [EmailPreview]
    def apply_imap_flag_operation(email_id, imap_flag_operation_options, opts = {})
      data, _status_code, _headers = apply_imap_flag_operation_with_http_info(email_id, imap_flag_operation_options, opts)
      data
    end

    # Set IMAP flags associated with a message. Only supports &#39;\\Seen&#39; flag.
    # Applies RFC3501 IMAP flag operations on a message. Current implementation supports read/unread semantics via the &#x60;\\\\Seen&#x60; flag only.
    # @param email_id [String] 
    # @param imap_flag_operation_options [ImapFlagOperationOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailPreview, Integer, Hash)>] EmailPreview data, response status code and response headers
    def apply_imap_flag_operation_with_http_info(email_id, imap_flag_operation_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.apply_imap_flag_operation ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.apply_imap_flag_operation"
      end
      # verify the required parameter 'imap_flag_operation_options' is set
      if @api_client.config.client_side_validation && imap_flag_operation_options.nil?
        fail ArgumentError, "Missing the required parameter 'imap_flag_operation_options' when calling EmailControllerApi.apply_imap_flag_operation"
      end
      # resource path
      local_var_path = '/emails/{emailId}/imap-flag-operation'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(imap_flag_operation_options) 

      # return_type
      return_type = opts[:return_type] || 'EmailPreview' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#apply_imap_flag_operation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether an email send would be accepted
    # Validates sender/inbox context and recipient eligibility before attempting a send. Useful for preflight checks in UI or test workflows.
    # @param inbox_id [String] ID of the inbox you want to send the email from
    # @param send_email_options [SendEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CanSendEmailResults]
    def can_send(inbox_id, send_email_options, opts = {})
      data, _status_code, _headers = can_send_with_http_info(inbox_id, send_email_options, opts)
      data
    end

    # Check whether an email send would be accepted
    # Validates sender/inbox context and recipient eligibility before attempting a send. Useful for preflight checks in UI or test workflows.
    # @param inbox_id [String] ID of the inbox you want to send the email from
    # @param send_email_options [SendEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CanSendEmailResults, Integer, Hash)>] CanSendEmailResults data, response status code and response headers
    def can_send_with_http_info(inbox_id, send_email_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.can_send ...'
      end
      # verify the required parameter 'inbox_id' is set
      if @api_client.config.client_side_validation && inbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbox_id' when calling EmailControllerApi.can_send"
      end
      # verify the required parameter 'send_email_options' is set
      if @api_client.config.client_side_validation && send_email_options.nil?
        fail ArgumentError, "Missing the required parameter 'send_email_options' when calling EmailControllerApi.can_send"
      end
      # resource path
      local_var_path = '/emails/can-send'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'inboxId'] = inbox_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(send_email_options) 

      # return_type
      return_type = opts[:return_type] || 'CanSendEmailResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#can_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run aggregate email audit for a stored email
    # Runs the same message-level audit bundle used by the email audit dashboard in one request. Combines content checks, HTML validation, compatibility analysis, and reputation verdict rollup when available.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAuditAnalysisResult]
    def check_email_audit1(email_id, opts = {})
      data, _status_code, _headers = check_email_audit1_with_http_info(email_id, opts)
      data
    end

    # Run aggregate email audit for a stored email
    # Runs the same message-level audit bundle used by the email audit dashboard in one request. Combines content checks, HTML validation, compatibility analysis, and reputation verdict rollup when available.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAuditAnalysisResult, Integer, Hash)>] EmailAuditAnalysisResult data, response status code and response headers
    def check_email_audit1_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.check_email_audit1 ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.check_email_audit1"
      end
      # resource path
      local_var_path = '/emails/{emailId}/check-email-audit'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailAuditAnalysisResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#check_email_audit1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check email body for broken links, images, and spelling issues
    # Runs content quality checks against hydrated email body content. This endpoint performs outbound HTTP checks for linked resources, so avoid use with sensitive or stateful URLs.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEmailBodyResults]
    def check_email_body(email_id, opts = {})
      data, _status_code, _headers = check_email_body_with_http_info(email_id, opts)
      data
    end

    # Check email body for broken links, images, and spelling issues
    # Runs content quality checks against hydrated email body content. This endpoint performs outbound HTTP checks for linked resources, so avoid use with sensitive or stateful URLs.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEmailBodyResults, Integer, Hash)>] CheckEmailBodyResults data, response status code and response headers
    def check_email_body_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.check_email_body ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.check_email_body"
      end
      # resource path
      local_var_path = '/emails/{emailId}/check-email-body'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CheckEmailBodyResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#check_email_body\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check client support for features used in a stored email body
    # Detects HTML/CSS features in the target email body and reports compatibility across major email clients and devices.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEmailBodyFeatureSupportResults]
    def check_email_body_feature_support(email_id, opts = {})
      data, _status_code, _headers = check_email_body_feature_support_with_http_info(email_id, opts)
      data
    end

    # Check client support for features used in a stored email body
    # Detects HTML/CSS features in the target email body and reports compatibility across major email clients and devices.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEmailBodyFeatureSupportResults, Integer, Hash)>] CheckEmailBodyFeatureSupportResults data, response status code and response headers
    def check_email_body_feature_support_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.check_email_body_feature_support ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.check_email_body_feature_support"
      end
      # resource path
      local_var_path = '/emails/{emailId}/check-email-body-feature-support'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CheckEmailBodyFeatureSupportResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#check_email_body_feature_support\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check email-client support for a provided HTML body
    # Evaluates HTML/CSS features in the supplied body and reports support coverage across major email clients and platforms.
    # @param check_email_client_support_options [CheckEmailClientSupportOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEmailClientSupportResults]
    def check_email_client_support(check_email_client_support_options, opts = {})
      data, _status_code, _headers = check_email_client_support_with_http_info(check_email_client_support_options, opts)
      data
    end

    # Check email-client support for a provided HTML body
    # Evaluates HTML/CSS features in the supplied body and reports support coverage across major email clients and platforms.
    # @param check_email_client_support_options [CheckEmailClientSupportOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEmailClientSupportResults, Integer, Hash)>] CheckEmailClientSupportResults data, response status code and response headers
    def check_email_client_support_with_http_info(check_email_client_support_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.check_email_client_support ...'
      end
      # verify the required parameter 'check_email_client_support_options' is set
      if @api_client.config.client_side_validation && check_email_client_support_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_email_client_support_options' when calling EmailControllerApi.check_email_client_support"
      end
      # resource path
      local_var_path = '/emails/check-email-client-support'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_email_client_support_options) 

      # return_type
      return_type = opts[:return_type] || 'CheckEmailClientSupportResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#check_email_client_support\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Persist aggregate email audit for a stored email
    # Runs the aggregate audit bundle for the target email and stores the resulting audit record for later review and history tracking.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAuditDto]
    def create_email_audit_for_email(email_id, opts = {})
      data, _status_code, _headers = create_email_audit_for_email_with_http_info(email_id, opts)
      data
    end

    # Persist aggregate email audit for a stored email
    # Runs the aggregate audit bundle for the target email and stores the resulting audit record for later review and history tracking.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAuditDto, Integer, Hash)>] EmailAuditDto data, response status code and response headers
    def create_email_audit_for_email_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.create_email_audit_for_email ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.create_email_audit_for_email"
      end
      # resource path
      local_var_path = '/emails/{emailId}/audit'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailAuditDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#create_email_audit_for_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete all emails in all inboxes.
    # Deletes all emails for the authenticated account context. This operation is destructive and cannot be undone.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_emails(opts = {})
      delete_all_emails_with_http_info(opts)
      nil
    end

    # Delete all emails in all inboxes.
    # Deletes all emails for the authenticated account context. This operation is destructive and cannot be undone.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_all_emails_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.delete_all_emails ...'
      end
      # resource path
      local_var_path = '/emails'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#delete_all_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an email
    # Deletes a single email from account scope. Operation is destructive and not reversible.
    # @param email_id [String] ID of email to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_email(email_id, opts = {})
      delete_email_with_http_info(email_id, opts)
      nil
    end

    # Delete an email
    # Deletes a single email from account scope. Operation is destructive and not reversible.
    # @param email_id [String] ID of email to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_email_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.delete_email ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.delete_email"
      end
      # resource path
      local_var_path = '/emails/{emailId}'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#delete_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email attachment bytes. Returned as `octet-stream` with content type header. If you have trouble with byte responses try the `downloadAttachmentBase64` response endpoints and convert the base 64 encoded content to a file or string.
    # Returns attachment bytes by attachment ID. Use attachment IDs from email payloads or attachment listing endpoints.
    # @param email_id [String] ID of email
    # @param attachment_id [String] ID of attachment
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key Can pass apiKey in url for this request if you wish to download the file in a browser. Content type will be set to original content type of the attachment file. This is so that browsers can download the file correctly.
    # @return [String]
    def download_attachment(email_id, attachment_id, opts = {})
      data, _status_code, _headers = download_attachment_with_http_info(email_id, attachment_id, opts)
      data
    end

    # Get email attachment bytes. Returned as &#x60;octet-stream&#x60; with content type header. If you have trouble with byte responses try the &#x60;downloadAttachmentBase64&#x60; response endpoints and convert the base 64 encoded content to a file or string.
    # Returns attachment bytes by attachment ID. Use attachment IDs from email payloads or attachment listing endpoints.
    # @param email_id [String] ID of email
    # @param attachment_id [String] ID of attachment
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key Can pass apiKey in url for this request if you wish to download the file in a browser. Content type will be set to original content type of the attachment file. This is so that browsers can download the file correctly.
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def download_attachment_with_http_info(email_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.download_attachment ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.download_attachment"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling EmailControllerApi.download_attachment"
      end
      # resource path
      local_var_path = '/emails/{emailId}/attachments/{attachmentId}'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s)).sub('{' + 'attachmentId' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'apiKey'] = opts[:'api_key'] if !opts[:'api_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'String' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#download_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email attachment as base64 encoded string as an alternative to binary responses. Decode the `base64FileContents` as a `utf-8` encoded string or array of bytes depending on the `contentType`.
    # Returns attachment payload as base64 in JSON. Useful for clients that cannot reliably consume binary streaming responses.
    # @param email_id [String] ID of email
    # @param attachment_id [String] ID of attachment
    # @param [Hash] opts the optional parameters
    # @return [DownloadAttachmentDto]
    def download_attachment_base64(email_id, attachment_id, opts = {})
      data, _status_code, _headers = download_attachment_base64_with_http_info(email_id, attachment_id, opts)
      data
    end

    # Get email attachment as base64 encoded string as an alternative to binary responses. Decode the &#x60;base64FileContents&#x60; as a &#x60;utf-8&#x60; encoded string or array of bytes depending on the &#x60;contentType&#x60;.
    # Returns attachment payload as base64 in JSON. Useful for clients that cannot reliably consume binary streaming responses.
    # @param email_id [String] ID of email
    # @param attachment_id [String] ID of attachment
    # @param [Hash] opts the optional parameters
    # @return [Array<(DownloadAttachmentDto, Integer, Hash)>] DownloadAttachmentDto data, response status code and response headers
    def download_attachment_base64_with_http_info(email_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.download_attachment_base64 ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.download_attachment_base64"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling EmailControllerApi.download_attachment_base64"
      end
      # resource path
      local_var_path = '/emails/{emailId}/attachments/{attachmentId}/base64'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s)).sub('{' + 'attachmentId' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DownloadAttachmentDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#download_attachment_base64\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email body as string. Returned as `plain/text` with content type header.
    # Returns hydrated email body text as a string with content type aligned to the underlying body format.
    # @param email_id [String] ID of email
    # @param [Hash] opts the optional parameters
    # @return [String]
    def download_body(email_id, opts = {})
      data, _status_code, _headers = download_body_with_http_info(email_id, opts)
      data
    end

    # Get email body as string. Returned as &#x60;plain/text&#x60; with content type header.
    # Returns hydrated email body text as a string with content type aligned to the underlying body format.
    # @param email_id [String] ID of email
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def download_body_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.download_body ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.download_body"
      end
      # resource path
      local_var_path = '/emails/{emailId}/body'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'String' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#download_body\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email body in bytes. Returned as `octet-stream` with content type header.
    # Streams hydrated email body bytes with content type derived from the message body format.
    # @param email_id [String] ID of email
    # @param [Hash] opts the optional parameters
    # @return [String]
    def download_body_bytes(email_id, opts = {})
      data, _status_code, _headers = download_body_bytes_with_http_info(email_id, opts)
      data
    end

    # Get email body in bytes. Returned as &#x60;octet-stream&#x60; with content type header.
    # Streams hydrated email body bytes with content type derived from the message body format.
    # @param email_id [String] ID of email
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def download_body_bytes_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.download_body_bytes ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.download_body_bytes"
      end
      # resource path
      local_var_path = '/emails/{emailId}/body-bytes'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'String' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#download_body_bytes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Forward email to recipients
    # Forwards an existing email to new recipients. Uses the owning inbox context unless overridden by allowed sender options.
    # @param email_id [String] ID of email
    # @param forward_email_options [ForwardEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @return [SentEmailDto]
    def forward_email(email_id, forward_email_options, opts = {})
      data, _status_code, _headers = forward_email_with_http_info(email_id, forward_email_options, opts)
      data
    end

    # Forward email to recipients
    # Forwards an existing email to new recipients. Uses the owning inbox context unless overridden by allowed sender options.
    # @param email_id [String] ID of email
    # @param forward_email_options [ForwardEmailOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentEmailDto, Integer, Hash)>] SentEmailDto data, response status code and response headers
    def forward_email_with_http_info(email_id, forward_email_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.forward_email ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.forward_email"
      end
      # verify the required parameter 'forward_email_options' is set
      if @api_client.config.client_side_validation && forward_email_options.nil?
        fail ArgumentError, "Missing the required parameter 'forward_email_options' when calling EmailControllerApi.forward_email"
      end
      # resource path
      local_var_path = '/emails/{emailId}/forward'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(forward_email_options) 

      # return_type
      return_type = opts[:return_type] || 'SentEmailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#forward_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email attachment metadata. This is the `contentType` and `contentLength` of an attachment. To get the individual attachments  use the `downloadAttachment` methods.
    # Returns metadata for a specific attachment ID (name, content type, and size fields).
    # @param email_id [String] ID of email
    # @param attachment_id [String] ID of attachment
    # @param [Hash] opts the optional parameters
    # @return [AttachmentMetaData]
    def get_attachment_meta_data(email_id, attachment_id, opts = {})
      data, _status_code, _headers = get_attachment_meta_data_with_http_info(email_id, attachment_id, opts)
      data
    end

    # Get email attachment metadata. This is the &#x60;contentType&#x60; and &#x60;contentLength&#x60; of an attachment. To get the individual attachments  use the &#x60;downloadAttachment&#x60; methods.
    # Returns metadata for a specific attachment ID (name, content type, and size fields).
    # @param email_id [String] ID of email
    # @param attachment_id [String] ID of attachment
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttachmentMetaData, Integer, Hash)>] AttachmentMetaData data, response status code and response headers
    def get_attachment_meta_data_with_http_info(email_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_attachment_meta_data ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_attachment_meta_data"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling EmailControllerApi.get_attachment_meta_data"
      end
      # resource path
      local_var_path = '/emails/{emailId}/attachments/{attachmentId}/metadata'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s)).sub('{' + 'attachmentId' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'AttachmentMetaData' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_attachment_meta_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hydrated email (headers and body)
    # Returns parsed email content including headers and body fields. Accessing hydrated content may mark the email as read depending on read-state rules.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Email]
    def get_email(email_id, opts = {})
      data, _status_code, _headers = get_email_with_http_info(email_id, opts)
      data
    end

    # Get hydrated email (headers and body)
    # Returns parsed email content including headers and body fields. Accessing hydrated content may mark the email as read depending on read-state rules.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Email, Integer, Hash)>] Email data, response status code and response headers
    def get_email_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email"
      end
      # resource path
      local_var_path = '/emails/{emailId}'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8', 'application/xml;charset=UTF-8', 'application/json; charset=UTF-8', 'application/xml; charset=UTF-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Email' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List attachment metadata for an email
    # Returns metadata for all attachment IDs associated with the email (name, content type, size, and IDs).
    # @param email_id [String] ID of email
    # @param [Hash] opts the optional parameters
    # @return [Array<AttachmentMetaData>]
    def get_email_attachments(email_id, opts = {})
      data, _status_code, _headers = get_email_attachments_with_http_info(email_id, opts)
      data
    end

    # List attachment metadata for an email
    # Returns metadata for all attachment IDs associated with the email (name, content type, size, and IDs).
    # @param email_id [String] ID of email
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AttachmentMetaData>, Integer, Hash)>] Array<AttachmentMetaData> data, response status code and response headers
    def get_email_attachments_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_attachments ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_attachments"
      end
      # resource path
      local_var_path = '/emails/{emailId}/attachments'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<AttachmentMetaData>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_attachments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extract verification codes from an email
    # Extracts one-time passcodes and similar tokens from email content using the selected extraction method and fallback options.
    # @param email_id [String] ID of email to extract codes from
    # @param [Hash] opts the optional parameters
    # @option opts [ExtractCodesOptions] :extract_codes_options 
    # @return [ExtractCodesResult]
    def get_email_codes(email_id, opts = {})
      data, _status_code, _headers = get_email_codes_with_http_info(email_id, opts)
      data
    end

    # Extract verification codes from an email
    # Extracts one-time passcodes and similar tokens from email content using the selected extraction method and fallback options.
    # @param email_id [String] ID of email to extract codes from
    # @param [Hash] opts the optional parameters
    # @option opts [ExtractCodesOptions] :extract_codes_options 
    # @return [Array<(ExtractCodesResult, Integer, Hash)>] ExtractCodesResult data, response status code and response headers
    def get_email_codes_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_codes ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_codes"
      end
      # resource path
      local_var_path = '/emails/{emailId}/codes'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'extract_codes_options']) 

      # return_type
      return_type = opts[:return_type] || 'ExtractCodesResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run regex against hydrated email body and return matches
    # Executes a Java regex pattern over hydrated email body text and returns the full match plus capture groups. Pattern syntax follows Java `Pattern` rules.
    # @param email_id [String] ID of email to match against
    # @param content_match_options [ContentMatchOptions] 
    # @param [Hash] opts the optional parameters
    # @return [EmailContentMatchResult]
    def get_email_content_match(email_id, content_match_options, opts = {})
      data, _status_code, _headers = get_email_content_match_with_http_info(email_id, content_match_options, opts)
      data
    end

    # Run regex against hydrated email body and return matches
    # Executes a Java regex pattern over hydrated email body text and returns the full match plus capture groups. Pattern syntax follows Java &#x60;Pattern&#x60; rules.
    # @param email_id [String] ID of email to match against
    # @param content_match_options [ContentMatchOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailContentMatchResult, Integer, Hash)>] EmailContentMatchResult data, response status code and response headers
    def get_email_content_match_with_http_info(email_id, content_match_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_content_match ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_content_match"
      end
      # verify the required parameter 'content_match_options' is set
      if @api_client.config.client_side_validation && content_match_options.nil?
        fail ArgumentError, "Missing the required parameter 'content_match_options' when calling EmailControllerApi.get_email_content_match"
      end
      # resource path
      local_var_path = '/emails/{emailId}/contentMatch'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(content_match_options) 

      # return_type
      return_type = opts[:return_type] || 'EmailContentMatchResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_content_match\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email content part by content type
    # Extracts one MIME body part by `contentType` and optional `index`, returned in a structured DTO with metadata.
    # @param email_id [String] ID of email to match against
    # @param content_type [String] Content type
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :strict Strict content type match
    # @option opts [Integer] :index Index of content type part if multiple
    # @return [EmailContentPartResult]
    def get_email_content_part(email_id, content_type, opts = {})
      data, _status_code, _headers = get_email_content_part_with_http_info(email_id, content_type, opts)
      data
    end

    # Get email content part by content type
    # Extracts one MIME body part by &#x60;contentType&#x60; and optional &#x60;index&#x60;, returned in a structured DTO with metadata.
    # @param email_id [String] ID of email to match against
    # @param content_type [String] Content type
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :strict Strict content type match
    # @option opts [Integer] :index Index of content type part if multiple
    # @return [Array<(EmailContentPartResult, Integer, Hash)>] EmailContentPartResult data, response status code and response headers
    def get_email_content_part_with_http_info(email_id, content_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_content_part ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_content_part"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling EmailControllerApi.get_email_content_part"
      end
      # resource path
      local_var_path = '/emails/{emailId}/contentPart'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'contentType'] = content_type
      query_params[:'strict'] = opts[:'strict'] if !opts[:'strict'].nil?
      query_params[:'index'] = opts[:'index'] if !opts[:'index'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8', 'application/xml;charset=UTF-8', 'application/json; charset=UTF-8', 'application/xml; charset=UTF-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailContentPartResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_content_part\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get multipart content part as raw response
    # Extracts one MIME body part by `contentType` and optional `index`, and returns raw content with matching response content type when valid.
    # @param email_id [String] ID of email to match against
    # @param content_type [String] Content type
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :strict Strict content type match
    # @option opts [Integer] :index Index of content type part if multiple. Starts from 0 and applies to the result list after selecting for your content type. Content type parts are sorted by order found in original MIME message.
    # @return [String]
    def get_email_content_part_content(email_id, content_type, opts = {})
      data, _status_code, _headers = get_email_content_part_content_with_http_info(email_id, content_type, opts)
      data
    end

    # Get multipart content part as raw response
    # Extracts one MIME body part by &#x60;contentType&#x60; and optional &#x60;index&#x60;, and returns raw content with matching response content type when valid.
    # @param email_id [String] ID of email to match against
    # @param content_type [String] Content type
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :strict Strict content type match
    # @option opts [Integer] :index Index of content type part if multiple. Starts from 0 and applies to the result list after selecting for your content type. Content type parts are sorted by order found in original MIME message.
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def get_email_content_part_content_with_http_info(email_id, content_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_content_part_content ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_content_part_content"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling EmailControllerApi.get_email_content_part_content"
      end
      # resource path
      local_var_path = '/emails/{emailId}/contentPart/raw'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'contentType'] = content_type
      query_params[:'strict'] = opts[:'strict'] if !opts[:'strict'].nil?
      query_params[:'index'] = opts[:'index'] if !opts[:'index'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'String' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_content_part_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email count
    # Returns total email count for the authenticated user, or count scoped to a specific inbox when `inboxId` is provided.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inbox_id 
    # @return [CountDto]
    def get_email_count(opts = {})
      data, _status_code, _headers = get_email_count_with_http_info(opts)
      data
    end

    # Get email count
    # Returns total email count for the authenticated user, or count scoped to a specific inbox when &#x60;inboxId&#x60; is provided.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :inbox_id 
    # @return [Array<(CountDto, Integer, Hash)>] CountDto data, response status code and response headers
    def get_email_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_count ...'
      end
      # resource path
      local_var_path = '/emails/emails/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'inboxId'] = opts[:'inbox_id'] if !opts[:'inbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CountDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hydrated email HTML for browser rendering
    # Returns hydrated HTML body directly with `text/html` content type. Supports temporary access/browser usage and optional CID replacement for inline asset rendering.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :replace_cid_images  (default to false)
    # @return [String]
    def get_email_html(email_id, opts = {})
      data, _status_code, _headers = get_email_html_with_http_info(email_id, opts)
      data
    end

    # Get hydrated email HTML for browser rendering
    # Returns hydrated HTML body directly with &#x60;text/html&#x60; content type. Supports temporary access/browser usage and optional CID replacement for inline asset rendering.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :replace_cid_images 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def get_email_html_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_html ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_html"
      end
      # resource path
      local_var_path = '/emails/{emailId}/html'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'replaceCidImages'] = opts[:'replace_cid_images'] if !opts[:'replace_cid_images'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/html;charset=utf-8', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'String' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_html\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hydrated email HTML wrapped in JSON
    # Returns hydrated HTML body and subject in a JSON DTO. Useful for API clients that need structured response payloads instead of raw HTML responses.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :replace_cid_images  (default to false)
    # @return [EmailHtmlDto]
    def get_email_html_json(email_id, opts = {})
      data, _status_code, _headers = get_email_html_json_with_http_info(email_id, opts)
      data
    end

    # Get hydrated email HTML wrapped in JSON
    # Returns hydrated HTML body and subject in a JSON DTO. Useful for API clients that need structured response payloads instead of raw HTML responses.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :replace_cid_images 
    # @return [Array<(EmailHtmlDto, Integer, Hash)>] EmailHtmlDto data, response status code and response headers
    def get_email_html_json_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_html_json ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_html_json"
      end
      # resource path
      local_var_path = '/emails/{emailId}/html/json'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'replaceCidImages'] = opts[:'replace_cid_images'] if !opts[:'replace_cid_images'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailHtmlDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_html_json\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query hydrated HTML body and return matching text lines
    # Applies a JSoup/CSS selector to hydrated HTML email body and returns matching text lines.
    # @param email_id [String] ID of email to perform HTML query on
    # @param html_selector [String] HTML selector to search for. Uses JQuery/JSoup/CSS style selector like &#39;.my-div&#39; to match content. See https://jsoup.org/apidocs/org/jsoup/select/Selector.html for more information.
    # @param [Hash] opts the optional parameters
    # @return [EmailTextLinesResult]
    def get_email_html_query(email_id, html_selector, opts = {})
      data, _status_code, _headers = get_email_html_query_with_http_info(email_id, html_selector, opts)
      data
    end

    # Query hydrated HTML body and return matching text lines
    # Applies a JSoup/CSS selector to hydrated HTML email body and returns matching text lines.
    # @param email_id [String] ID of email to perform HTML query on
    # @param html_selector [String] HTML selector to search for. Uses JQuery/JSoup/CSS style selector like &#39;.my-div&#39; to match content. See https://jsoup.org/apidocs/org/jsoup/select/Selector.html for more information.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTextLinesResult, Integer, Hash)>] EmailTextLinesResult data, response status code and response headers
    def get_email_html_query_with_http_info(email_id, html_selector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_html_query ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_html_query"
      end
      # verify the required parameter 'html_selector' is set
      if @api_client.config.client_side_validation && html_selector.nil?
        fail ArgumentError, "Missing the required parameter 'html_selector' when calling EmailControllerApi.get_email_html_query"
      end
      # resource path
      local_var_path = '/emails/{emailId}/htmlQuery'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'htmlSelector'] = html_selector

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailTextLinesResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_html_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extract links from an email HTML body
    # Parses HTML content and extracts link URLs (`href`). For non-HTML emails this endpoint returns a validation error.
    # @param email_id [String] ID of email to fetch text for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :selector Optional HTML query selector for links
    # @return [EmailLinksResult]
    def get_email_links(email_id, opts = {})
      data, _status_code, _headers = get_email_links_with_http_info(email_id, opts)
      data
    end

    # Extract links from an email HTML body
    # Parses HTML content and extracts link URLs (&#x60;href&#x60;). For non-HTML emails this endpoint returns a validation error.
    # @param email_id [String] ID of email to fetch text for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :selector Optional HTML query selector for links
    # @return [Array<(EmailLinksResult, Integer, Hash)>] EmailLinksResult data, response status code and response headers
    def get_email_links_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_links ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_links"
      end
      # resource path
      local_var_path = '/emails/{emailId}/links'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'selector'] = opts[:'selector'] if !opts[:'selector'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailLinksResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_links\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email URLs for viewing in browser or downloading
    # Returns precomputed URLs for preview and raw message access for the specified email.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailPreviewUrls]
    def get_email_preview_ur_ls(email_id, opts = {})
      data, _status_code, _headers = get_email_preview_ur_ls_with_http_info(email_id, opts)
      data
    end

    # Get email URLs for viewing in browser or downloading
    # Returns precomputed URLs for preview and raw message access for the specified email.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailPreviewUrls, Integer, Hash)>] EmailPreviewUrls data, response status code and response headers
    def get_email_preview_ur_ls_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_preview_ur_ls ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_preview_ur_ls"
      end
      # resource path
      local_var_path = '/emails/{emailId}/urls'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailPreviewUrls' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_preview_ur_ls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Take a screenshot of an email in a browser and return base64 encoded string
    # Renders the email in a browser engine and returns PNG data as base64. Useful for APIs and dashboards that cannot easily stream binary responses.
    # @param email_id [String] 
    # @param get_email_screenshot_options [GetEmailScreenshotOptions] 
    # @param [Hash] opts the optional parameters
    # @return [EmailScreenshotResult]
    def get_email_screenshot_as_base64(email_id, get_email_screenshot_options, opts = {})
      data, _status_code, _headers = get_email_screenshot_as_base64_with_http_info(email_id, get_email_screenshot_options, opts)
      data
    end

    # Take a screenshot of an email in a browser and return base64 encoded string
    # Renders the email in a browser engine and returns PNG data as base64. Useful for APIs and dashboards that cannot easily stream binary responses.
    # @param email_id [String] 
    # @param get_email_screenshot_options [GetEmailScreenshotOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailScreenshotResult, Integer, Hash)>] EmailScreenshotResult data, response status code and response headers
    def get_email_screenshot_as_base64_with_http_info(email_id, get_email_screenshot_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_screenshot_as_base64 ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_screenshot_as_base64"
      end
      # verify the required parameter 'get_email_screenshot_options' is set
      if @api_client.config.client_side_validation && get_email_screenshot_options.nil?
        fail ArgumentError, "Missing the required parameter 'get_email_screenshot_options' when calling EmailControllerApi.get_email_screenshot_as_base64"
      end
      # resource path
      local_var_path = '/emails/{emailId}/screenshot/base64'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(get_email_screenshot_options) 

      # return_type
      return_type = opts[:return_type] || 'EmailScreenshotResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_screenshot_as_base64\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Take a screenshot of an email in a browser
    # Renders the email in a browser engine and returns PNG bytes. Intended for visual QA and rendering regression checks.
    # @param email_id [String] 
    # @param get_email_screenshot_options [GetEmailScreenshotOptions] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_email_screenshot_as_binary(email_id, get_email_screenshot_options, opts = {})
      get_email_screenshot_as_binary_with_http_info(email_id, get_email_screenshot_options, opts)
      nil
    end

    # Take a screenshot of an email in a browser
    # Renders the email in a browser engine and returns PNG bytes. Intended for visual QA and rendering regression checks.
    # @param email_id [String] 
    # @param get_email_screenshot_options [GetEmailScreenshotOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_email_screenshot_as_binary_with_http_info(email_id, get_email_screenshot_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_screenshot_as_binary ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_screenshot_as_binary"
      end
      # verify the required parameter 'get_email_screenshot_options' is set
      if @api_client.config.client_side_validation && get_email_screenshot_options.nil?
        fail ArgumentError, "Missing the required parameter 'get_email_screenshot_options' when calling EmailControllerApi.get_email_screenshot_as_binary"
      end
      # resource path
      local_var_path = '/emails/{emailId}/screenshot/binary'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(get_email_screenshot_options) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_screenshot_as_binary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extract signature from an inbound email
    # Attempts to parse a sender signature block from an email body. Uses raw MIME content parts when possible and falls back to hydrated body parsing. This is heuristic and may not be accurate for all email clients or formats.
    # @param email_id [String] ID of email to extract signature from
    # @param [Hash] opts the optional parameters
    # @return [EmailSignatureParseResult]
    def get_email_signature(email_id, opts = {})
      data, _status_code, _headers = get_email_signature_with_http_info(email_id, opts)
      data
    end

    # Extract signature from an inbound email
    # Attempts to parse a sender signature block from an email body. Uses raw MIME content parts when possible and falls back to hydrated body parsing. This is heuristic and may not be accurate for all email clients or formats.
    # @param email_id [String] ID of email to extract signature from
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailSignatureParseResult, Integer, Hash)>] EmailSignatureParseResult data, response status code and response headers
    def get_email_signature_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_signature ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_signature"
      end
      # resource path
      local_var_path = '/emails/{emailId}/signature'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailSignatureParseResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_signature\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email summary (headers/metadata only)
    # Returns lightweight metadata and headers for an email. Use `getEmail` for hydrated body content or `getRawEmail` for original SMTP content.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :decode Deprecated and ignored. Retained for backwards compatibility.
    # @return [EmailPreview]
    def get_email_summary(email_id, opts = {})
      data, _status_code, _headers = get_email_summary_with_http_info(email_id, opts)
      data
    end

    # Get email summary (headers/metadata only)
    # Returns lightweight metadata and headers for an email. Use &#x60;getEmail&#x60; for hydrated body content or &#x60;getRawEmail&#x60; for original SMTP content.
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :decode Deprecated and ignored. Retained for backwards compatibility.
    # @return [Array<(EmailPreview, Integer, Hash)>] EmailPreview data, response status code and response headers
    def get_email_summary_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_summary ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_summary"
      end
      # resource path
      local_var_path = '/emails/{emailId}/summary'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'decode'] = opts[:'decode'] if !opts[:'decode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailPreview' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extract normalized text lines from email body
    # Converts email body content to line-based plain text with optional HTML entity decoding and custom line separator.
    # @param email_id [String] ID of email to fetch text for
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :decode_html_entities Decode HTML entities
    # @option opts [String] :line_separator Line separator character
    # @return [EmailTextLinesResult]
    def get_email_text_lines(email_id, opts = {})
      data, _status_code, _headers = get_email_text_lines_with_http_info(email_id, opts)
      data
    end

    # Extract normalized text lines from email body
    # Converts email body content to line-based plain text with optional HTML entity decoding and custom line separator.
    # @param email_id [String] ID of email to fetch text for
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :decode_html_entities Decode HTML entities
    # @option opts [String] :line_separator Line separator character
    # @return [Array<(EmailTextLinesResult, Integer, Hash)>] EmailTextLinesResult data, response status code and response headers
    def get_email_text_lines_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_text_lines ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailControllerApi.get_email_text_lines"
      end
      # resource path
      local_var_path = '/emails/{emailId}/textLines'.sub('{' + 'emailId' + '}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'decodeHtmlEntities'] = opts[:'decode_html_entities'] if !opts[:'decode_html_entities'].nil?
      query_params[:'lineSeparator'] = opts[:'line_separator'] if !opts[:'line_separator'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailTextLinesResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_text_lines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email thread metadata by thread ID
    # Returns thread metadata built from RFC 5322 `Message-ID`, `In-Reply-To`, and `References` headers. Use `getEmailThreadItems` to fetch the thread messages.
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailThreadDto]
    def get_email_thread(thread_id, opts = {})
      data, _status_code, _headers = get_email_thread_with_http_info(thread_id, opts)
      data
    end

    # Get email thread metadata by thread ID
    # Returns thread metadata built from RFC 5322 &#x60;Message-ID&#x60;, &#x60;In-Reply-To&#x60;, and &#x60;References&#x60; headers. Use &#x60;getEmailThreadItems&#x60; to fetch the thread messages.
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailThreadDto, Integer, Hash)>] EmailThreadDto data, response status code and response headers
    def get_email_thread_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailControllerApi.get_email_thread ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling EmailControllerApi.get_email_thread"
      end
      # resource path
      local_var_path = '/emails/threads/{threadId}'.sub('{' + 'threadId' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmailThreadDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailControllerApi#get_email_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get messages in a specific email thread
    # Returns all messages in a thread ordered by `createdAt` using the requested sort direction.
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'ASC')
    # @return [EmailThreadItemsDto]
    def get_email_thread_items(thread_id, opts = {})
[...]
