=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class MissedSmsControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all missed SMS messages in paginated format
    # @param [Hash] opts the optional parameters
    # @option opts [String] :phone_number Optional receiving phone number to filter missed SMS for
    # @option opts [Integer] :page Optional page index in list pagination (default to 0)
    # @option opts [Integer] :size Optional page size in list pagination (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'ASC')
    # @option opts [DateTime] :since Optional filter missed SMS after given date time
    # @option opts [DateTime] :before Optional filter missed SMS before given date time
    # @option opts [String] :search Optional search filter
    # @return [PageMissedSmsProjection]
    def get_all_missed_sms_messages(opts = {})
      data, _status_code, _headers = get_all_missed_sms_messages_with_http_info(opts)
      data
    end

    # Get all missed SMS messages in paginated format
    # @param [Hash] opts the optional parameters
    # @option opts [String] :phone_number Optional receiving phone number to filter missed SMS for
    # @option opts [Integer] :page Optional page index in list pagination
    # @option opts [Integer] :size Optional page size in list pagination
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @option opts [DateTime] :since Optional filter missed SMS after given date time
    # @option opts [DateTime] :before Optional filter missed SMS before given date time
    # @option opts [String] :search Optional search filter
    # @return [Array<(PageMissedSmsProjection, Integer, Hash)>] PageMissedSmsProjection data, response status code and response headers
    def get_all_missed_sms_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissedSmsControllerApi.get_all_missed_sms_messages ...'
      end
      if @api_client.config.client_side_validation && !opts[:'size'].nil? && opts[:'size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"size"]" when calling MissedSmsControllerApi.get_all_missed_sms_messages, must be smaller than or equal to 100.'
      end

      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/missed-sms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'phoneNumber'] = opts[:'phone_number'] if !opts[:'phone_number'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PageMissedSmsProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissedSmsControllerApi#get_all_missed_sms_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get missed SMS count
    # @param [Hash] opts the optional parameters
    # @return [CountDto]
    def get_missed_sms_count(opts = {})
      data, _status_code, _headers = get_missed_sms_count_with_http_info(opts)
      data
    end

    # Get missed SMS count
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountDto, Integer, Hash)>] CountDto data, response status code and response headers
    def get_missed_sms_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissedSmsControllerApi.get_missed_sms_count ...'
      end
      # resource path
      local_var_path = '/missed-sms/count'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CountDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissedSmsControllerApi#get_missed_sms_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get missed SMS content
    # Returns a missed SMS with full content.
    # @param missed_sms_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MissedSmsDto]
    def get_missed_sms_message(missed_sms_id, opts = {})
      data, _status_code, _headers = get_missed_sms_message_with_http_info(missed_sms_id, opts)
      data
    end

    # Get missed SMS content
    # Returns a missed SMS with full content.
    # @param missed_sms_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MissedSmsDto, Integer, Hash)>] MissedSmsDto data, response status code and response headers
    def get_missed_sms_message_with_http_info(missed_sms_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissedSmsControllerApi.get_missed_sms_message ...'
      end
      # verify the required parameter 'missed_sms_id' is set
      if @api_client.config.client_side_validation && missed_sms_id.nil?
        fail ArgumentError, "Missing the required parameter 'missed_sms_id' when calling MissedSmsControllerApi.get_missed_sms_message"
      end
      # resource path
      local_var_path = '/missed-sms/{missedSmsId}'.sub('{' + 'missedSmsId' + '}', CGI.escape(missed_sms_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'MissedSmsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissedSmsControllerApi#get_missed_sms_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
