=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class PhoneControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Acquire phone pool lease
    # Acquire an available phone number from the pool and mark it leased
    # @param pool_id [String] 
    # @param acquire_phone_pool_lease_options [AcquirePhonePoolLeaseOptions] 
    # @param [Hash] opts the optional parameters
    # @return [PhonePoolLeaseDto]
    def acquire_phone_pool_lease(pool_id, acquire_phone_pool_lease_options, opts = {})
      data, _status_code, _headers = acquire_phone_pool_lease_with_http_info(pool_id, acquire_phone_pool_lease_options, opts)
      data
    end

    # Acquire phone pool lease
    # Acquire an available phone number from the pool and mark it leased
    # @param pool_id [String] 
    # @param acquire_phone_pool_lease_options [AcquirePhonePoolLeaseOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePoolLeaseDto, Integer, Hash)>] PhonePoolLeaseDto data, response status code and response headers
    def acquire_phone_pool_lease_with_http_info(pool_id, acquire_phone_pool_lease_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.acquire_phone_pool_lease ...'
      end
      # verify the required parameter 'pool_id' is set
      if @api_client.config.client_side_validation && pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'pool_id' when calling PhoneControllerApi.acquire_phone_pool_lease"
      end
      # verify the required parameter 'acquire_phone_pool_lease_options' is set
      if @api_client.config.client_side_validation && acquire_phone_pool_lease_options.nil?
        fail ArgumentError, "Missing the required parameter 'acquire_phone_pool_lease_options' when calling PhoneControllerApi.acquire_phone_pool_lease"
      end
      # resource path
      local_var_path = '/phone/pools/{poolId}/leases'.sub('{' + 'poolId' + '}', CGI.escape(pool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(acquire_phone_pool_lease_options) 

      # return_type
      return_type = opts[:return_type] || 'PhonePoolLeaseDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#acquire_phone_pool_lease\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add all phone numbers to phone pool
    # Add all active owned phone numbers to a pool
    # @param pool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhonePoolDetailDto]
    def add_all_phone_numbers_to_phone_pool(pool_id, opts = {})
      data, _status_code, _headers = add_all_phone_numbers_to_phone_pool_with_http_info(pool_id, opts)
      data
    end

    # Add all phone numbers to phone pool
    # Add all active owned phone numbers to a pool
    # @param pool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePoolDetailDto, Integer, Hash)>] PhonePoolDetailDto data, response status code and response headers
    def add_all_phone_numbers_to_phone_pool_with_http_info(pool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.add_all_phone_numbers_to_phone_pool ...'
      end
      # verify the required parameter 'pool_id' is set
      if @api_client.config.client_side_validation && pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'pool_id' when calling PhoneControllerApi.add_all_phone_numbers_to_phone_pool"
      end
      # resource path
      local_var_path = '/phone/pools/{poolId}/numbers/add-all'.sub('{' + 'poolId' + '}', CGI.escape(pool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhonePoolDetailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#add_all_phone_numbers_to_phone_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add phone numbers to phone pool
    # Add one or more owned phone numbers to a pool
    # @param pool_id [String] 
    # @param add_phone_pool_numbers_options [AddPhonePoolNumbersOptions] 
    # @param [Hash] opts the optional parameters
    # @return [PhonePoolDetailDto]
    def add_phone_numbers_to_phone_pool(pool_id, add_phone_pool_numbers_options, opts = {})
      data, _status_code, _headers = add_phone_numbers_to_phone_pool_with_http_info(pool_id, add_phone_pool_numbers_options, opts)
      data
    end

    # Add phone numbers to phone pool
    # Add one or more owned phone numbers to a pool
    # @param pool_id [String] 
    # @param add_phone_pool_numbers_options [AddPhonePoolNumbersOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePoolDetailDto, Integer, Hash)>] PhonePoolDetailDto data, response status code and response headers
    def add_phone_numbers_to_phone_pool_with_http_info(pool_id, add_phone_pool_numbers_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.add_phone_numbers_to_phone_pool ...'
      end
      # verify the required parameter 'pool_id' is set
      if @api_client.config.client_side_validation && pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'pool_id' when calling PhoneControllerApi.add_phone_numbers_to_phone_pool"
      end
      # verify the required parameter 'add_phone_pool_numbers_options' is set
      if @api_client.config.client_side_validation && add_phone_pool_numbers_options.nil?
        fail ArgumentError, "Missing the required parameter 'add_phone_pool_numbers_options' when calling PhoneControllerApi.add_phone_numbers_to_phone_pool"
      end
      # resource path
      local_var_path = '/phone/pools/{poolId}/numbers'.sub('{' + 'poolId' + '}', CGI.escape(pool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(add_phone_pool_numbers_options) 

      # return_type
      return_type = opts[:return_type] || 'PhonePoolDetailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#add_phone_numbers_to_phone_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an emergency address
    # Add an emergency address to a phone number
    # @param create_emergency_address_options [CreateEmergencyAddressOptions] 
    # @param [Hash] opts the optional parameters
    # @return [EmergencyAddress]
    def create_emergency_address(create_emergency_address_options, opts = {})
      data, _status_code, _headers = create_emergency_address_with_http_info(create_emergency_address_options, opts)
      data
    end

    # Create an emergency address
    # Add an emergency address to a phone number
    # @param create_emergency_address_options [CreateEmergencyAddressOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmergencyAddress, Integer, Hash)>] EmergencyAddress data, response status code and response headers
    def create_emergency_address_with_http_info(create_emergency_address_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.create_emergency_address ...'
      end
      # verify the required parameter 'create_emergency_address_options' is set
      if @api_client.config.client_side_validation && create_emergency_address_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_emergency_address_options' when calling PhoneControllerApi.create_emergency_address"
      end
      # resource path
      local_var_path = '/phone/emergency-addresses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_emergency_address_options) 

      # return_type
      return_type = opts[:return_type] || 'EmergencyAddress' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#create_emergency_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add phone number to your account. Only works if you have already added a plan and an initial phone number in your account and acknowledged the pricing and terms of service by enabling API phone creation.
    # Create new phone number
    # @param create_phone_number_options [CreatePhoneNumberOptions] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberDto]
    def create_phone_number(create_phone_number_options, opts = {})
      data, _status_code, _headers = create_phone_number_with_http_info(create_phone_number_options, opts)
      data
    end

    # Add phone number to your account. Only works if you have already added a plan and an initial phone number in your account and acknowledged the pricing and terms of service by enabling API phone creation.
    # Create new phone number
    # @param create_phone_number_options [CreatePhoneNumberOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberDto, Integer, Hash)>] PhoneNumberDto data, response status code and response headers
    def create_phone_number_with_http_info(create_phone_number_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.create_phone_number ...'
      end
      # verify the required parameter 'create_phone_number_options' is set
      if @api_client.config.client_side_validation && create_phone_number_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_phone_number_options' when calling PhoneControllerApi.create_phone_number"
      end
      # resource path
      local_var_path = '/phone'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_phone_number_options) 

      # return_type
      return_type = opts[:return_type] || 'PhoneNumberDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#create_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create phone pool
    # Create a reusable pool of phone numbers for coordinated leasing
    # @param create_phone_pool_options [CreatePhonePoolOptions] 
    # @param [Hash] opts the optional parameters
    # @return [PhonePoolDetailDto]
    def create_phone_pool(create_phone_pool_options, opts = {})
      data, _status_code, _headers = create_phone_pool_with_http_info(create_phone_pool_options, opts)
      data
    end

    # Create phone pool
    # Create a reusable pool of phone numbers for coordinated leasing
    # @param create_phone_pool_options [CreatePhonePoolOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePoolDetailDto, Integer, Hash)>] PhonePoolDetailDto data, response status code and response headers
    def create_phone_pool_with_http_info(create_phone_pool_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.create_phone_pool ...'
      end
      # verify the required parameter 'create_phone_pool_options' is set
      if @api_client.config.client_side_validation && create_phone_pool_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_phone_pool_options' when calling PhoneControllerApi.create_phone_pool"
      end
      # resource path
      local_var_path = '/phone/pools'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_phone_pool_options) 

      # return_type
      return_type = opts[:return_type] || 'PhonePoolDetailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#create_phone_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a phone provisioning job
    # Create an advanced phone provisioning job from shortlisted numbers
    # @param create_phone_provisioning_job_options [CreatePhoneProvisioningJobOptions] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneProvisioningJobDto]
    def create_phone_provisioning_job(create_phone_provisioning_job_options, opts = {})
      data, _status_code, _headers = create_phone_provisioning_job_with_http_info(create_phone_provisioning_job_options, opts)
      data
    end

    # Create a phone provisioning job
    # Create an advanced phone provisioning job from shortlisted numbers
    # @param create_phone_provisioning_job_options [CreatePhoneProvisioningJobOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneProvisioningJobDto, Integer, Hash)>] PhoneProvisioningJobDto data, response status code and response headers
    def create_phone_provisioning_job_with_http_info(create_phone_provisioning_job_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.create_phone_provisioning_job ...'
      end
      # verify the required parameter 'create_phone_provisioning_job_options' is set
      if @api_client.config.client_side_validation && create_phone_provisioning_job_options.nil?
        fail ArgumentError, "Missing the required parameter 'create_phone_provisioning_job_options' when calling PhoneControllerApi.create_phone_provisioning_job"
      end
      # resource path
      local_var_path = '/phone/provisioning/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(create_phone_provisioning_job_options) 

      # return_type
      return_type = opts[:return_type] || 'PhoneProvisioningJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#create_phone_provisioning_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete all phone numbers
    # Remove all phone number from account
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_phone_number(opts = {})
      delete_all_phone_number_with_http_info(opts)
      nil
    end

    # Delete all phone numbers
    # Remove all phone number from account
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_all_phone_number_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.delete_all_phone_number ...'
      end
      # resource path
      local_var_path = '/phone/numbers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#delete_all_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an emergency address
    # Delete an emergency address
    # @param address_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponseDto]
    def delete_emergency_address(address_id, opts = {})
      data, _status_code, _headers = delete_emergency_address_with_http_info(address_id, opts)
      data
    end

    # Delete an emergency address
    # Delete an emergency address
    # @param address_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponseDto, Integer, Hash)>] EmptyResponseDto data, response status code and response headers
    def delete_emergency_address_with_http_info(address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.delete_emergency_address ...'
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling PhoneControllerApi.delete_emergency_address"
      end
      # resource path
      local_var_path = '/phone/emergency-addresses/{addressId}'.sub('{' + 'addressId' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmptyResponseDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#delete_emergency_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete messages in a phone thread
    # Delete all messages in an SMS thread
    # @param phone_number_id [String] 
    # @param other_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponseDto]
    def delete_phone_message_thread_items(phone_number_id, other_number, opts = {})
      data, _status_code, _headers = delete_phone_message_thread_items_with_http_info(phone_number_id, other_number, opts)
      data
    end

    # Delete messages in a phone thread
    # Delete all messages in an SMS thread
    # @param phone_number_id [String] 
    # @param other_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponseDto, Integer, Hash)>] EmptyResponseDto data, response status code and response headers
    def delete_phone_message_thread_items_with_http_info(phone_number_id, other_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.delete_phone_message_thread_items ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling PhoneControllerApi.delete_phone_message_thread_items"
      end
      # verify the required parameter 'other_number' is set
      if @api_client.config.client_side_validation && other_number.nil?
        fail ArgumentError, "Missing the required parameter 'other_number' when calling PhoneControllerApi.delete_phone_message_thread_items"
      end
      # resource path
      local_var_path = '/phone/numbers/{phoneNumberId}/message-threads/{otherNumber}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s)).sub('{' + 'otherNumber' + '}', CGI.escape(other_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmptyResponseDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#delete_phone_message_thread_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a phone number
    # Remove phone number from account
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_phone_number(phone_number_id, opts = {})
      delete_phone_number_with_http_info(phone_number_id, opts)
      nil
    end

    # Delete a phone number
    # Remove phone number from account
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_phone_number_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.delete_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling PhoneControllerApi.delete_phone_number"
      end
      # resource path
      local_var_path = '/phone/numbers/{phoneNumberId}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#delete_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete phone pool
    # Delete a phone pool and release any active leases from that pool
    # @param pool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_phone_pool(pool_id, opts = {})
      delete_phone_pool_with_http_info(pool_id, opts)
      nil
    end

    # Delete phone pool
    # Delete a phone pool and release any active leases from that pool
    # @param pool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_phone_pool_with_http_info(pool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.delete_phone_pool ...'
      end
      # verify the required parameter 'pool_id' is set
      if @api_client.config.client_side_validation && pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'pool_id' when calling PhoneControllerApi.delete_phone_pool"
      end
      # resource path
      local_var_path = '/phone/pools/{poolId}'.sub('{' + 'poolId' + '}', CGI.escape(pool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#delete_phone_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the latest messages for all phones
    # List all message threads for all phones
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @return [PagePhoneMessageThreadProjection]
    def get_all_phone_message_threads(opts = {})
      data, _status_code, _headers = get_all_phone_message_threads_with_http_info(opts)
      data
    end

    # Get the latest messages for all phones
    # List all message threads for all phones
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @return [Array<(PagePhoneMessageThreadProjection, Integer, Hash)>] PagePhoneMessageThreadProjection data, response status code and response headers
    def get_all_phone_message_threads_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_all_phone_message_threads ...'
      end
      # resource path
      local_var_path = '/phone/numbers/message-threads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PagePhoneMessageThreadProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_all_phone_message_threads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all phone number releases
    # List released or deleted phone numbers
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'DESC')
    # @return [PagePhoneNumberReleaseProjection]
    def get_all_phone_number_releases(opts = {})
      data, _status_code, _headers = get_all_phone_number_releases_with_http_info(opts)
      data
    end

    # Get all phone number releases
    # List released or deleted phone numbers
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @return [Array<(PagePhoneNumberReleaseProjection, Integer, Hash)>] PagePhoneNumberReleaseProjection data, response status code and response headers
    def get_all_phone_number_releases_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_all_phone_number_releases ...'
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/phone/releases'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PagePhoneNumberReleaseProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_all_phone_number_releases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get consent status
    # Get the status of phone usage consent
    # @param [Hash] opts the optional parameters
    # @return [ConsentStatusDto]
    def get_consent_status(opts = {})
      data, _status_code, _headers = get_consent_status_with_http_info(opts)
      data
    end

    # Get consent status
    # Get the status of phone usage consent
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConsentStatusDto, Integer, Hash)>] ConsentStatusDto data, response status code and response headers
    def get_consent_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_consent_status ...'
      end
      # resource path
      local_var_path = '/phone/consent'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ConsentStatusDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_consent_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an emergency address
    # Fetch an emergency address by ID
    # @param address_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmergencyAddress]
    def get_emergency_address(address_id, opts = {})
      data, _status_code, _headers = get_emergency_address_with_http_info(address_id, opts)
      data
    end

    # Get an emergency address
    # Fetch an emergency address by ID
    # @param address_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmergencyAddress, Integer, Hash)>] EmergencyAddress data, response status code and response headers
    def get_emergency_address_with_http_info(address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_emergency_address ...'
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling PhoneControllerApi.get_emergency_address"
      end
      # resource path
      local_var_path = '/phone/emergency-addresses/{addressId}'.sub('{' + 'addressId' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'EmergencyAddress' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_emergency_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get emergency addresses
    # List emergency addresses
    # @param [Hash] opts the optional parameters
    # @return [Array<EmergencyAddressDto>]
    def get_emergency_addresses(opts = {})
      data, _status_code, _headers = get_emergency_addresses_with_http_info(opts)
      data
    end

    # Get emergency addresses
    # List emergency addresses
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EmergencyAddressDto>, Integer, Hash)>] Array<EmergencyAddressDto> data, response status code and response headers
    def get_emergency_addresses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_emergency_addresses ...'
      end
      # resource path
      local_var_path = '/phone/emergency-addresses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<EmergencyAddressDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_emergency_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get or create phone pool
    # Get a phone pool by name or create it if it does not exist
    # @param get_or_create_phone_pool_options [GetOrCreatePhonePoolOptions] 
    # @param [Hash] opts the optional parameters
    # @return [PhonePoolDetailDto]
    def get_or_create_phone_pool(get_or_create_phone_pool_options, opts = {})
      data, _status_code, _headers = get_or_create_phone_pool_with_http_info(get_or_create_phone_pool_options, opts)
      data
    end

    # Get or create phone pool
    # Get a phone pool by name or create it if it does not exist
    # @param get_or_create_phone_pool_options [GetOrCreatePhonePoolOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePoolDetailDto, Integer, Hash)>] PhonePoolDetailDto data, response status code and response headers
    def get_or_create_phone_pool_with_http_info(get_or_create_phone_pool_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_or_create_phone_pool ...'
      end
      # verify the required parameter 'get_or_create_phone_pool_options' is set
      if @api_client.config.client_side_validation && get_or_create_phone_pool_options.nil?
        fail ArgumentError, "Missing the required parameter 'get_or_create_phone_pool_options' when calling PhoneControllerApi.get_or_create_phone_pool"
      end
      # resource path
      local_var_path = '/phone/pools/get-or-create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(get_or_create_phone_pool_options) 

      # return_type
      return_type = opts[:return_type] || 'PhonePoolDetailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_or_create_phone_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get messages in a phone thread
    # List message thread messages for a phone message thread
    # @param phone_number_id [String] 
    # @param other_number [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @return [PagePhoneMessageThreadItemProjection]
    def get_phone_message_thread_items(phone_number_id, other_number, opts = {})
      data, _status_code, _headers = get_phone_message_thread_items_with_http_info(phone_number_id, other_number, opts)
      data
    end

    # Get messages in a phone thread
    # List message thread messages for a phone message thread
    # @param phone_number_id [String] 
    # @param other_number [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @return [Array<(PagePhoneMessageThreadItemProjection, Integer, Hash)>] PagePhoneMessageThreadItemProjection data, response status code and response headers
    def get_phone_message_thread_items_with_http_info(phone_number_id, other_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_message_thread_items ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling PhoneControllerApi.get_phone_message_thread_items"
      end
      # verify the required parameter 'other_number' is set
      if @api_client.config.client_side_validation && other_number.nil?
        fail ArgumentError, "Missing the required parameter 'other_number' when calling PhoneControllerApi.get_phone_message_thread_items"
      end
      # resource path
      local_var_path = '/phone/numbers/{phoneNumberId}/message-threads/{otherNumber}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s)).sub('{' + 'otherNumber' + '}', CGI.escape(other_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PagePhoneMessageThreadItemProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_message_thread_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the latest message preview for a thread
    # List message threads for a phone
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @return [PagePhoneMessageThreadProjection]
    def get_phone_message_threads(phone_number_id, opts = {})
      data, _status_code, _headers = get_phone_message_threads_with_http_info(phone_number_id, opts)
      data
    end

    # Get the latest message preview for a thread
    # List message threads for a phone
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :size 
    # @return [Array<(PagePhoneMessageThreadProjection, Integer, Hash)>] PagePhoneMessageThreadProjection data, response status code and response headers
    def get_phone_message_threads_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_message_threads ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling PhoneControllerApi.get_phone_message_threads"
      end
      # resource path
      local_var_path = '/phone/numbers/{phoneNumberId}/message-threads'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PagePhoneMessageThreadProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_message_threads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a phone number by ID
    # Get a phone number by ID
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberDto]
    def get_phone_number(phone_number_id, opts = {})
      data, _status_code, _headers = get_phone_number_with_http_info(phone_number_id, opts)
      data
    end

    # Get a phone number by ID
    # Get a phone number by ID
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberDto, Integer, Hash)>] PhoneNumberDto data, response status code and response headers
    def get_phone_number_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling PhoneControllerApi.get_phone_number"
      end
      # resource path
      local_var_path = '/phone/numbers/{phoneNumberId}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneNumberDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a phone number by name
    # Get a phone number by name
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberDto]
    def get_phone_number_by_name(name, opts = {})
      data, _status_code, _headers = get_phone_number_by_name_with_http_info(name, opts)
      data
    end

    # Get a phone number by name
    # Get a phone number by name
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberDto, Integer, Hash)>] PhoneNumberDto data, response status code and response headers
    def get_phone_number_by_name_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_number_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling PhoneControllerApi.get_phone_number_by_name"
      end
      # resource path
      local_var_path = '/phone/numbers/by-name'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneNumberDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_number_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a phone number by phone number
    # Get a phone number by phone number
    # @param phone_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberDto]
    def get_phone_number_by_phone_number(phone_number, opts = {})
      data, _status_code, _headers = get_phone_number_by_phone_number_with_http_info(phone_number, opts)
      data
    end

    # Get a phone number by phone number
    # Get a phone number by phone number
    # @param phone_number [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberDto, Integer, Hash)>] PhoneNumberDto data, response status code and response headers
    def get_phone_number_by_phone_number_with_http_info(phone_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_number_by_phone_number ...'
      end
      # verify the required parameter 'phone_number' is set
      if @api_client.config.client_side_validation && phone_number.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number' when calling PhoneControllerApi.get_phone_number_by_phone_number"
      end
      # resource path
      local_var_path = '/phone/numbers/by-phone-number'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'phoneNumber'] = phone_number

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneNumberDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_number_by_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get line type intelligence for a phone number
    # Lookup line type intelligence for a phone number
    # @param validate_phone_number_options [ValidatePhoneNumberOptions] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberLineTypeLookupDto]
    def get_phone_number_line_type_intelligence(validate_phone_number_options, opts = {})
      data, _status_code, _headers = get_phone_number_line_type_intelligence_with_http_info(validate_phone_number_options, opts)
      data
    end

    # Get line type intelligence for a phone number
    # Lookup line type intelligence for a phone number
    # @param validate_phone_number_options [ValidatePhoneNumberOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberLineTypeLookupDto, Integer, Hash)>] PhoneNumberLineTypeLookupDto data, response status code and response headers
    def get_phone_number_line_type_intelligence_with_http_info(validate_phone_number_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_number_line_type_intelligence ...'
      end
      # verify the required parameter 'validate_phone_number_options' is set
      if @api_client.config.client_side_validation && validate_phone_number_options.nil?
        fail ArgumentError, "Missing the required parameter 'validate_phone_number_options' when calling PhoneControllerApi.get_phone_number_line_type_intelligence"
      end
      # resource path
      local_var_path = '/phone/validate/line-type-intelligence'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(validate_phone_number_options) 

      # return_type
      return_type = opts[:return_type] || 'PhoneNumberLineTypeLookupDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_number_line_type_intelligence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone number release
    # Get a released or deleted phone numbers
    # @param release_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberReleaseProjection]
    def get_phone_number_release(release_id, opts = {})
      data, _status_code, _headers = get_phone_number_release_with_http_info(release_id, opts)
      data
    end

    # Get phone number release
    # Get a released or deleted phone numbers
    # @param release_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberReleaseProjection, Integer, Hash)>] PhoneNumberReleaseProjection data, response status code and response headers
    def get_phone_number_release_with_http_info(release_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_number_release ...'
      end
      # verify the required parameter 'release_id' is set
      if @api_client.config.client_side_validation && release_id.nil?
        fail ArgumentError, "Missing the required parameter 'release_id' when calling PhoneControllerApi.get_phone_number_release"
      end
      # resource path
      local_var_path = '/phone/releases/{releaseId}'.sub('{' + 'releaseId' + '}', CGI.escape(release_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneNumberReleaseProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_number_release\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone numbers
    # List phone numbers for account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :phone_country Optional phone country
    # @option opts [String] :line_type Optional line type filter
    # @option opts [String] :carrier_name Optional carrier name filter
    # @option opts [String] :mobile_country_code Optional mobile country code filter
    # @option opts [String] :mobile_network_code Optional mobile network code filter
    # @option opts [String] :provider_label Optional provider label filter such as T1 or T2
    # @option opts [Integer] :page Optional page index for list pagination (default to 0)
    # @option opts [Integer] :size Optional page size for list pagination (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'ASC')
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @option opts [String] :search Optional search filter
    # @option opts [Array<String>] :include Optional phoneIds to include in result
    # @option opts [Boolean] :favourite Optionally filter results for favourites only (default to false)
    # @return [PagePhoneNumberProjection]
    def get_phone_numbers(opts = {})
      data, _status_code, _headers = get_phone_numbers_with_http_info(opts)
      data
    end

    # Get phone numbers
    # List phone numbers for account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :phone_country Optional phone country
    # @option opts [String] :line_type Optional line type filter
    # @option opts [String] :carrier_name Optional carrier name filter
    # @option opts [String] :mobile_country_code Optional mobile country code filter
    # @option opts [String] :mobile_network_code Optional mobile network code filter
    # @option opts [String] :provider_label Optional provider label filter such as T1 or T2
    # @option opts [Integer] :page Optional page index for list pagination
    # @option opts [Integer] :size Optional page size for list pagination
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @option opts [DateTime] :since Filter by created at after the given timestamp
    # @option opts [DateTime] :before Filter by created at before the given timestamp
    # @option opts [String] :search Optional search filter
    # @option opts [Array<String>] :include Optional phoneIds to include in result
    # @option opts [Boolean] :favourite Optionally filter results for favourites only
    # @return [Array<(PagePhoneNumberProjection, Integer, Hash)>] PagePhoneNumberProjection data, response status code and response headers
    def get_phone_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_numbers ...'
      end
      allowable_values = ["US", "GB", "AU", "CA", "EE", "HK", "PL", "PT", "NL", "IL", "FI", "SE"]
      if @api_client.config.client_side_validation && opts[:'phone_country'] && !allowable_values.include?(opts[:'phone_country'])
        fail ArgumentError, "invalid value for \"phone_country\", must be one of #{allowable_values}"
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/phone/numbers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'phoneCountry'] = opts[:'phone_country'] if !opts[:'phone_country'].nil?
      query_params[:'lineType'] = opts[:'line_type'] if !opts[:'line_type'].nil?
      query_params[:'carrierName'] = opts[:'carrier_name'] if !opts[:'carrier_name'].nil?
      query_params[:'mobileCountryCode'] = opts[:'mobile_country_code'] if !opts[:'mobile_country_code'].nil?
      query_params[:'mobileNetworkCode'] = opts[:'mobile_network_code'] if !opts[:'mobile_network_code'].nil?
      query_params[:'providerLabel'] = opts[:'provider_label'] if !opts[:'provider_label'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include'] = @api_client.build_collection_param(opts[:'include'], :multi) if !opts[:'include'].nil?
      query_params[:'favourite'] = opts[:'favourite'] if !opts[:'favourite'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PagePhoneNumberProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone plans
    # Get phone number plans
    # @param [Hash] opts the optional parameters
    # @return [Array<PhonePlanDto>]
    def get_phone_plans(opts = {})
      data, _status_code, _headers = get_phone_plans_with_http_info(opts)
      data
    end

    # Get phone plans
    # Get phone number plans
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PhonePlanDto>, Integer, Hash)>] Array<PhonePlanDto> data, response status code and response headers
    def get_phone_plans_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_plans ...'
      end
      # resource path
      local_var_path = '/phone/plans'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<PhonePlanDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone plans availability
    # @param [Hash] opts the optional parameters
    # @return [PhonePlanAvailability]
    def get_phone_plans_availability(opts = {})
      data, _status_code, _headers = get_phone_plans_availability_with_http_info(opts)
      data
    end

    # Get phone plans availability
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePlanAvailability, Integer, Hash)>] PhonePlanAvailability data, response status code and response headers
    def get_phone_plans_availability_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_plans_availability ...'
      end
      # resource path
      local_var_path = '/phone/plans/availability'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhonePlanAvailability' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_plans_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone pool
    # Get phone pool details by ID
    # @param pool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhonePoolDetailDto]
    def get_phone_pool(pool_id, opts = {})
      data, _status_code, _headers = get_phone_pool_with_http_info(pool_id, opts)
      data
    end

    # Get phone pool
    # Get phone pool details by ID
    # @param pool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePoolDetailDto, Integer, Hash)>] PhonePoolDetailDto data, response status code and response headers
    def get_phone_pool_with_http_info(pool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_pool ...'
      end
      # verify the required parameter 'pool_id' is set
      if @api_client.config.client_side_validation && pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'pool_id' when calling PhoneControllerApi.get_phone_pool"
      end
      # resource path
      local_var_path = '/phone/pools/{poolId}'.sub('{' + 'poolId' + '}', CGI.escape(pool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhonePoolDetailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone pool by name
    # Get phone pool details by name
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhonePoolDetailDto]
    def get_phone_pool_by_name(name, opts = {})
      data, _status_code, _headers = get_phone_pool_by_name_with_http_info(name, opts)
      data
    end

    # Get phone pool by name
    # Get phone pool details by name
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhonePoolDetailDto, Integer, Hash)>] PhonePoolDetailDto data, response status code and response headers
    def get_phone_pool_by_name_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_pool_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling PhoneControllerApi.get_phone_pool_by_name"
      end
      # resource path
      local_var_path = '/phone/pools/by-name'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhonePoolDetailDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_pool_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone pools
    # List phone pools for the authenticated user
    # @param [Hash] opts the optional parameters
    # @return [Array<PhonePoolDto>]
    def get_phone_pools(opts = {})
      data, _status_code, _headers = get_phone_pools_with_http_info(opts)
      data
    end

    # Get phone pools
    # List phone pools for the authenticated user
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PhonePoolDto>, Integer, Hash)>] Array<PhonePoolDto> data, response status code and response headers
    def get_phone_pools_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_pools ...'
      end
      # resource path
      local_var_path = '/phone/pools'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<PhonePoolDto>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_pools\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone provisioning capabilities
    # Get supported provider-country variant capabilities for advanced provisioning
    # @param phone_country [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider_label 
    # @return [PhoneProviderCapabilitiesResult]
    def get_phone_provisioning_capabilities(phone_country, opts = {})
      data, _status_code, _headers = get_phone_provisioning_capabilities_with_http_info(phone_country, opts)
      data
    end

    # Get phone provisioning capabilities
    # Get supported provider-country variant capabilities for advanced provisioning
    # @param phone_country [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider_label 
    # @return [Array<(PhoneProviderCapabilitiesResult, Integer, Hash)>] PhoneProviderCapabilitiesResult data, response status code and response headers
    def get_phone_provisioning_capabilities_with_http_info(phone_country, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_provisioning_capabilities ...'
      end
      # verify the required parameter 'phone_country' is set
      if @api_client.config.client_side_validation && phone_country.nil?
        fail ArgumentError, "Missing the required parameter 'phone_country' when calling PhoneControllerApi.get_phone_provisioning_capabilities"
      end
      # verify enum value
      allowable_values = ["US", "GB", "AU", "CA", "EE", "HK", "PL", "PT", "NL", "IL", "FI", "SE"]
      if @api_client.config.client_side_validation && !allowable_values.include?(phone_country)
        fail ArgumentError, "invalid value for \"phone_country\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/phone/provisioning/capabilities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'phoneCountry'] = phone_country
      query_params[:'providerLabel'] = opts[:'provider_label'] if !opts[:'provider_label'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneProviderCapabilitiesResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_provisioning_capabilities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone provisioning job
    # Get advanced phone provisioning job status
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneProvisioningJobDto]
    def get_phone_provisioning_job(job_id, opts = {})
      data, _status_code, _headers = get_phone_provisioning_job_with_http_info(job_id, opts)
      data
    end

    # Get phone provisioning job
    # Get advanced phone provisioning job status
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneProvisioningJobDto, Integer, Hash)>] PhoneProvisioningJobDto data, response status code and response headers
    def get_phone_provisioning_job_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_provisioning_job ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling PhoneControllerApi.get_phone_provisioning_job"
      end
      # resource path
      local_var_path = '/phone/provisioning/jobs/{jobId}'.sub('{' + 'jobId' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneProvisioningJobDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_provisioning_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SMS prepaid credit
    # Get a specific SMS prepaid credit balance for the authenticated account
    # @param credit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PhoneSmsPrepaidCreditDto]
    def get_phone_sms_prepaid_credit(credit_id, opts = {})
      data, _status_code, _headers = get_phone_sms_prepaid_credit_with_http_info(credit_id, opts)
      data
    end

    # Get SMS prepaid credit
    # Get a specific SMS prepaid credit balance for the authenticated account
    # @param credit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneSmsPrepaidCreditDto, Integer, Hash)>] PhoneSmsPrepaidCreditDto data, response status code and response headers
    def get_phone_sms_prepaid_credit_with_http_info(credit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_sms_prepaid_credit ...'
      end
      # verify the required parameter 'credit_id' is set
      if @api_client.config.client_side_validation && credit_id.nil?
        fail ArgumentError, "Missing the required parameter 'credit_id' when calling PhoneControllerApi.get_phone_sms_prepaid_credit"
      end
      # resource path
      local_var_path = '/phone/sms-prepaid-credits/{creditId}'.sub('{' + 'creditId' + '}', CGI.escape(credit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneSmsPrepaidCreditDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_sms_prepaid_credit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SMS prepaid credits
    # List SMS prepaid credits for the authenticated account
    # @param [Hash] opts the optional parameters
    # @return [PhoneSmsPrepaidCreditsDto]
    def get_phone_sms_prepaid_credits(opts = {})
      data, _status_code, _headers = get_phone_sms_prepaid_credits_with_http_info(opts)
      data
    end

    # Get SMS prepaid credits
    # List SMS prepaid credits for the authenticated account
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneSmsPrepaidCreditsDto, Integer, Hash)>] PhoneSmsPrepaidCreditsDto data, response status code and response headers
    def get_phone_sms_prepaid_credits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_sms_prepaid_credits ...'
      end
      # resource path
      local_var_path = '/phone/sms-prepaid-credits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneSmsPrepaidCreditsDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_sms_prepaid_credits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone summary
    # Get overview of assigned phones
    # @param [Hash] opts the optional parameters
    # @return [PhoneSummaryDto]
    def get_phone_summary(opts = {})
      data, _status_code, _headers = get_phone_summary_with_http_info(opts)
      data
    end

    # Get phone summary
    # Get overview of assigned phones
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneSummaryDto, Integer, Hash)>] PhoneSummaryDto data, response status code and response headers
    def get_phone_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_phone_summary ...'
      end
      # resource path
      local_var_path = '/phone/summary'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PhoneSummaryDto' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_phone_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sent TXT messages for a phone number
    # Get sent SMS messages for a phone number
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in SMS list pagination (default to 0)
    # @option opts [Integer] :size Optional page size in SMS list pagination. Maximum size is 100. Use page index and sort to page through larger results (default to 20)
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC (default to 'ASC')
    # @option opts [DateTime] :since Optional filter SMSs received after given date time
    # @option opts [DateTime] :before Optional filter SMSs received before given date time
    # @option opts [String] :search Optional search filter
    # @return [PageSentSmsProjection]
    def get_sent_sms_by_phone_number(phone_number_id, opts = {})
      data, _status_code, _headers = get_sent_sms_by_phone_number_with_http_info(phone_number_id, opts)
      data
    end

    # List sent TXT messages for a phone number
    # Get sent SMS messages for a phone number
    # @param phone_number_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Optional page index in SMS list pagination
    # @option opts [Integer] :size Optional page size in SMS list pagination. Maximum size is 100. Use page index and sort to page through larger results
    # @option opts [String] :sort Optional createdAt sort direction ASC or DESC
    # @option opts [DateTime] :since Optional filter SMSs received after given date time
    # @option opts [DateTime] :before Optional filter SMSs received before given date time
    # @option opts [String] :search Optional search filter
    # @return [Array<(PageSentSmsProjection, Integer, Hash)>] PageSentSmsProjection data, response status code and response headers
    def get_sent_sms_by_phone_number_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneControllerApi.get_sent_sms_by_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling PhoneControllerApi.get_sent_sms_by_phone_number"
      end
      if @api_client.config.client_side_validation && !opts[:'size'].nil? && opts[:'size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"size"]" when calling PhoneControllerApi.get_sent_sms_by_phone_number, must be smaller than or equal to 100.'
      end

      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/phone/numbers/{phoneNumberId}/sms-sent'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'PageSentSmsProjection' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneControllerApi#get_sent_sms_by_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

[...]
