=begin
#MailSlurp API

#MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.  ## Resources  - [Homepage](https://www.mailslurp.com) - Get an [API KEY](https://app.mailslurp.com/sign-up/) - Generated [SDK Clients](https://docs.mailslurp.com/) - [Examples](https://github.com/mailslurp/examples) repository

The version of the OpenAPI document: 6.5.2
Contact: contact@mailslurp.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module MailSlurpClient
  class ToolsControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Parse and summarize a DMARC aggregate XML report
    # @param analyze_dmarc_report_options [AnalyzeDmarcReportOptions] 
    # @param [Hash] opts the optional parameters
    # @return [AnalyzeDmarcReportResults]
    def analyze_dmarc_report(analyze_dmarc_report_options, opts = {})
      data, _status_code, _headers = analyze_dmarc_report_with_http_info(analyze_dmarc_report_options, opts)
      data
    end

    # Parse and summarize a DMARC aggregate XML report
    # @param analyze_dmarc_report_options [AnalyzeDmarcReportOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnalyzeDmarcReportResults, Integer, Hash)>] AnalyzeDmarcReportResults data, response status code and response headers
    def analyze_dmarc_report_with_http_info(analyze_dmarc_report_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.analyze_dmarc_report ...'
      end
      # verify the required parameter 'analyze_dmarc_report_options' is set
      if @api_client.config.client_side_validation && analyze_dmarc_report_options.nil?
        fail ArgumentError, "Missing the required parameter 'analyze_dmarc_report_options' when calling ToolsControllerApi.analyze_dmarc_report"
      end
      # resource path
      local_var_path = '/tools/analyze-dmarc-report'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(analyze_dmarc_report_options) 

      # return_type
      return_type = opts[:return_type] || 'AnalyzeDmarcReportResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#analyze_dmarc_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Analyze email headers for auth results and delivery path
    # @param analyze_email_headers_options [AnalyzeEmailHeadersOptions] 
    # @param [Hash] opts the optional parameters
    # @return [AnalyzeEmailHeadersResults]
    def analyze_email_headers(analyze_email_headers_options, opts = {})
      data, _status_code, _headers = analyze_email_headers_with_http_info(analyze_email_headers_options, opts)
      data
    end

    # Analyze email headers for auth results and delivery path
    # @param analyze_email_headers_options [AnalyzeEmailHeadersOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnalyzeEmailHeadersResults, Integer, Hash)>] AnalyzeEmailHeadersResults data, response status code and response headers
    def analyze_email_headers_with_http_info(analyze_email_headers_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.analyze_email_headers ...'
      end
      # verify the required parameter 'analyze_email_headers_options' is set
      if @api_client.config.client_side_validation && analyze_email_headers_options.nil?
        fail ArgumentError, "Missing the required parameter 'analyze_email_headers_options' when calling ToolsControllerApi.analyze_email_headers"
      end
      # resource path
      local_var_path = '/tools/analyze-email-headers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(analyze_email_headers_options) 

      # return_type
      return_type = opts[:return_type] || 'AnalyzeEmailHeadersResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#analyze_email_headers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a one-shot free campaign probe preflight check
    # @param check_campaign_probe_options [CheckCampaignProbeOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CheckCampaignProbeResults]
    def check_campaign_probe(check_campaign_probe_options, opts = {})
      data, _status_code, _headers = check_campaign_probe_with_http_info(check_campaign_probe_options, opts)
      data
    end

    # Run a one-shot free campaign probe preflight check
    # @param check_campaign_probe_options [CheckCampaignProbeOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckCampaignProbeResults, Integer, Hash)>] CheckCampaignProbeResults data, response status code and response headers
    def check_campaign_probe_with_http_info(check_campaign_probe_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.check_campaign_probe ...'
      end
      # verify the required parameter 'check_campaign_probe_options' is set
      if @api_client.config.client_side_validation && check_campaign_probe_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_campaign_probe_options' when calling ToolsControllerApi.check_campaign_probe"
      end
      # resource path
      local_var_path = '/tools/check-campaign-probe'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_campaign_probe_options) 

      # return_type
      return_type = opts[:return_type] || 'CheckCampaignProbeResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#check_campaign_probe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check DNS propagation for a host and record type across configured resolvers
    # @param check_dns_propagation_options [CheckDnsPropagationOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CheckDnsPropagationResults]
    def check_dns_propagation(check_dns_propagation_options, opts = {})
      data, _status_code, _headers = check_dns_propagation_with_http_info(check_dns_propagation_options, opts)
      data
    end

    # Check DNS propagation for a host and record type across configured resolvers
    # @param check_dns_propagation_options [CheckDnsPropagationOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckDnsPropagationResults, Integer, Hash)>] CheckDnsPropagationResults data, response status code and response headers
    def check_dns_propagation_with_http_info(check_dns_propagation_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.check_dns_propagation ...'
      end
      # verify the required parameter 'check_dns_propagation_options' is set
      if @api_client.config.client_side_validation && check_dns_propagation_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_dns_propagation_options' when calling ToolsControllerApi.check_dns_propagation"
      end
      # resource path
      local_var_path = '/tools/check-dns-propagation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_dns_propagation_options) 

      # return_type
      return_type = opts[:return_type] || 'CheckDnsPropagationResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#check_dns_propagation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a one-shot free domain monitor posture check
    # @param check_domain_monitor_options [CheckDomainMonitorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CheckDomainMonitorResults]
    def check_domain_monitor(check_domain_monitor_options, opts = {})
      data, _status_code, _headers = check_domain_monitor_with_http_info(check_domain_monitor_options, opts)
      data
    end

    # Run a one-shot free domain monitor posture check
    # @param check_domain_monitor_options [CheckDomainMonitorOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckDomainMonitorResults, Integer, Hash)>] CheckDomainMonitorResults data, response status code and response headers
    def check_domain_monitor_with_http_info(check_domain_monitor_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.check_domain_monitor ...'
      end
      # verify the required parameter 'check_domain_monitor_options' is set
      if @api_client.config.client_side_validation && check_domain_monitor_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_domain_monitor_options' when calling ToolsControllerApi.check_domain_monitor"
      end
      # resource path
      local_var_path = '/tools/check-domain-monitor'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_domain_monitor_options) 

      # return_type
      return_type = opts[:return_type] || 'CheckDomainMonitorResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#check_domain_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a one-shot free email audit across links, images, HTML, and client support
    # @param check_email_audit_options [CheckEmailAuditOptions] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAuditAnalysisResult]
    def check_email_audit(check_email_audit_options, opts = {})
      data, _status_code, _headers = check_email_audit_with_http_info(check_email_audit_options, opts)
      data
    end

    # Run a one-shot free email audit across links, images, HTML, and client support
    # @param check_email_audit_options [CheckEmailAuditOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAuditAnalysisResult, Integer, Hash)>] EmailAuditAnalysisResult data, response status code and response headers
    def check_email_audit_with_http_info(check_email_audit_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.check_email_audit ...'
      end
      # verify the required parameter 'check_email_audit_options' is set
      if @api_client.config.client_side_validation && check_email_audit_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_email_audit_options' when calling ToolsControllerApi.check_email_audit"
      end
      # resource path
      local_var_path = '/tools/check-email-audit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_email_audit_options) 

      # return_type
      return_type = opts[:return_type] || 'EmailAuditAnalysisResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#check_email_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a one-shot combined SPF, DKIM, DMARC, BIMI, MX, MTA-STS, and TLS-RPT check
    # @param check_email_auth_stack_options [CheckEmailAuthStackOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEmailAuthStackResults]
    def check_email_auth_stack(check_email_auth_stack_options, opts = {})
      data, _status_code, _headers = check_email_auth_stack_with_http_info(check_email_auth_stack_options, opts)
      data
    end

    # Run a one-shot combined SPF, DKIM, DMARC, BIMI, MX, MTA-STS, and TLS-RPT check
    # @param check_email_auth_stack_options [CheckEmailAuthStackOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEmailAuthStackResults, Integer, Hash)>] CheckEmailAuthStackResults data, response status code and response headers
    def check_email_auth_stack_with_http_info(check_email_auth_stack_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.check_email_auth_stack ...'
      end
      # verify the required parameter 'check_email_auth_stack_options' is set
      if @api_client.config.client_side_validation && check_email_auth_stack_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_email_auth_stack_options' when calling ToolsControllerApi.check_email_auth_stack"
      end
      # resource path
      local_var_path = '/tools/check-email-auth-stack'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_email_auth_stack_options) 

      # return_type
      return_type = opts[:return_type] || 'CheckEmailAuthStackResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#check_email_auth_stack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether a domain or IP appears on configured DNS blacklists
    # @param check_email_blacklist_options [CheckEmailBlacklistOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEmailBlacklistResults]
    def check_email_blacklist(check_email_blacklist_options, opts = {})
      data, _status_code, _headers = check_email_blacklist_with_http_info(check_email_blacklist_options, opts)
      data
    end

    # Check whether a domain or IP appears on configured DNS blacklists
    # @param check_email_blacklist_options [CheckEmailBlacklistOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEmailBlacklistResults, Integer, Hash)>] CheckEmailBlacklistResults data, response status code and response headers
    def check_email_blacklist_with_http_info(check_email_blacklist_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.check_email_blacklist ...'
      end
      # verify the required parameter 'check_email_blacklist_options' is set
      if @api_client.config.client_side_validation && check_email_blacklist_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_email_blacklist_options' when calling ToolsControllerApi.check_email_blacklist"
      end
      # resource path
      local_var_path = '/tools/check-email-blacklists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_email_blacklist_options) 

      # return_type
      return_type = opts[:return_type] || 'CheckEmailBlacklistResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#check_email_blacklist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check email client support for email HTML and CSS features
    # @param check_email_features_client_support_options [CheckEmailFeaturesClientSupportOptions] 
    # @param [Hash] opts the optional parameters
    # @return [CheckEmailFeaturesClientSupportResults]
    def check_email_features_client_support(check_email_features_client_support_options, opts = {})
      data, _status_code, _headers = check_email_features_client_support_with_http_info(check_email_features_client_support_options, opts)
      data
    end

    # Check email client support for email HTML and CSS features
    # @param check_email_features_client_support_options [CheckEmailFeaturesClientSupportOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckEmailFeaturesClientSupportResults, Integer, Hash)>] CheckEmailFeaturesClientSupportResults data, response status code and response headers
    def check_email_features_client_support_with_http_info(check_email_features_client_support_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.check_email_features_client_support ...'
      end
      # verify the required parameter 'check_email_features_client_support_options' is set
      if @api_client.config.client_side_validation && check_email_features_client_support_options.nil?
        fail ArgumentError, "Missing the required parameter 'check_email_features_client_support_options' when calling ToolsControllerApi.check_email_features_client_support"
      end
      # resource path
      local_var_path = '/tools/check-email-features-client-support'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(check_email_features_client_support_options) 

      # return_type
      return_type = opts[:return_type] || 'CheckEmailFeaturesClientSupportResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#check_email_features_client_support\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new email address using the fake email domains
    # @param [Hash] opts the optional parameters
    # @return [NewFakeEmailAddressResult]
    def create_new_fake_email_address(opts = {})
      data, _status_code, _headers = create_new_fake_email_address_with_http_info(opts)
      data
    end

    # Create a new email address using the fake email domains
    # @param [Hash] opts the optional parameters
    # @return [Array<(NewFakeEmailAddressResult, Integer, Hash)>] NewFakeEmailAddressResult data, response status code and response headers
    def create_new_fake_email_address_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.create_new_fake_email_address ...'
      end
      # resource path
      local_var_path = '/tools/fake-email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'NewFakeEmailAddressResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#create_new_fake_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fake email address using the fake email domains
    # Delete a fake email address using the fake email domains
    # @param email_address [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_new_fake_email_address(email_address, opts = {})
      delete_new_fake_email_address_with_http_info(email_address, opts)
      nil
    end

    # Delete a fake email address using the fake email domains
    # Delete a fake email address using the fake email domains
    # @param email_address [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_new_fake_email_address_with_http_info(email_address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.delete_new_fake_email_address ...'
      end
      # verify the required parameter 'email_address' is set
      if @api_client.config.client_side_validation && email_address.nil?
        fail ArgumentError, "Missing the required parameter 'email_address' when calling ToolsControllerApi.delete_new_fake_email_address"
      end
      # resource path
      local_var_path = '/tools/fake-email'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailAddress'] = email_address

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#delete_new_fake_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a BIMI record policy
    # @param generate_bimi_record_options [GenerateBimiRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateBimiRecordResults]
    def generate_bimi_record(generate_bimi_record_options, opts = {})
      data, _status_code, _headers = generate_bimi_record_with_http_info(generate_bimi_record_options, opts)
      data
    end

    # Create a BIMI record policy
    # @param generate_bimi_record_options [GenerateBimiRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateBimiRecordResults, Integer, Hash)>] GenerateBimiRecordResults data, response status code and response headers
    def generate_bimi_record_with_http_info(generate_bimi_record_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.generate_bimi_record ...'
      end
      # verify the required parameter 'generate_bimi_record_options' is set
      if @api_client.config.client_side_validation && generate_bimi_record_options.nil?
        fail ArgumentError, "Missing the required parameter 'generate_bimi_record_options' when calling ToolsControllerApi.generate_bimi_record"
      end
      # resource path
      local_var_path = '/tools/generate-bimi-record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(generate_bimi_record_options) 

      # return_type
      return_type = opts[:return_type] || 'GenerateBimiRecordResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#generate_bimi_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a DMARC record policy
    # @param generate_dmarc_record_options [GenerateDmarcRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateDmarcRecordResults]
    def generate_dmarc_record(generate_dmarc_record_options, opts = {})
      data, _status_code, _headers = generate_dmarc_record_with_http_info(generate_dmarc_record_options, opts)
      data
    end

    # Create a DMARC record policy
    # @param generate_dmarc_record_options [GenerateDmarcRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateDmarcRecordResults, Integer, Hash)>] GenerateDmarcRecordResults data, response status code and response headers
    def generate_dmarc_record_with_http_info(generate_dmarc_record_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.generate_dmarc_record ...'
      end
      # verify the required parameter 'generate_dmarc_record_options' is set
      if @api_client.config.client_side_validation && generate_dmarc_record_options.nil?
        fail ArgumentError, "Missing the required parameter 'generate_dmarc_record_options' when calling ToolsControllerApi.generate_dmarc_record"
      end
      # resource path
      local_var_path = '/tools/generate-dmarc-record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(generate_dmarc_record_options) 

      # return_type
      return_type = opts[:return_type] || 'GenerateDmarcRecordResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#generate_dmarc_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a TLS reporting record policy
    # @param generate_mta_sts_record_options [GenerateMtaStsRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateMtaStsRecordResults]
    def generate_mta_sts_record(generate_mta_sts_record_options, opts = {})
      data, _status_code, _headers = generate_mta_sts_record_with_http_info(generate_mta_sts_record_options, opts)
      data
    end

    # Create a TLS reporting record policy
    # @param generate_mta_sts_record_options [GenerateMtaStsRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateMtaStsRecordResults, Integer, Hash)>] GenerateMtaStsRecordResults data, response status code and response headers
    def generate_mta_sts_record_with_http_info(generate_mta_sts_record_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.generate_mta_sts_record ...'
      end
      # verify the required parameter 'generate_mta_sts_record_options' is set
      if @api_client.config.client_side_validation && generate_mta_sts_record_options.nil?
        fail ArgumentError, "Missing the required parameter 'generate_mta_sts_record_options' when calling ToolsControllerApi.generate_mta_sts_record"
      end
      # resource path
      local_var_path = '/tools/generate-mta-sts-record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(generate_mta_sts_record_options) 

      # return_type
      return_type = opts[:return_type] || 'GenerateMtaStsRecordResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#generate_mta_sts_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an SPF record
    # @param generate_spf_record_options [GenerateSpfRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateSpfRecordResults]
    def generate_spf_record(generate_spf_record_options, opts = {})
      data, _status_code, _headers = generate_spf_record_with_http_info(generate_spf_record_options, opts)
      data
    end

    # Create an SPF record
    # @param generate_spf_record_options [GenerateSpfRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateSpfRecordResults, Integer, Hash)>] GenerateSpfRecordResults data, response status code and response headers
    def generate_spf_record_with_http_info(generate_spf_record_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.generate_spf_record ...'
      end
      # verify the required parameter 'generate_spf_record_options' is set
      if @api_client.config.client_side_validation && generate_spf_record_options.nil?
        fail ArgumentError, "Missing the required parameter 'generate_spf_record_options' when calling ToolsControllerApi.generate_spf_record"
      end
      # resource path
      local_var_path = '/tools/generate-spf-record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(generate_spf_record_options) 

      # return_type
      return_type = opts[:return_type] || 'GenerateSpfRecordResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#generate_spf_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a TLS reporting record policy
    # @param generate_tls_reporting_record_options [GenerateTlsReportingRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateTlsReportingRecordResults]
    def generate_tls_reporting_record(generate_tls_reporting_record_options, opts = {})
      data, _status_code, _headers = generate_tls_reporting_record_with_http_info(generate_tls_reporting_record_options, opts)
      data
    end

    # Create a TLS reporting record policy
    # @param generate_tls_reporting_record_options [GenerateTlsReportingRecordOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateTlsReportingRecordResults, Integer, Hash)>] GenerateTlsReportingRecordResults data, response status code and response headers
    def generate_tls_reporting_record_with_http_info(generate_tls_reporting_record_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.generate_tls_reporting_record ...'
      end
      # verify the required parameter 'generate_tls_reporting_record_options' is set
      if @api_client.config.client_side_validation && generate_tls_reporting_record_options.nil?
        fail ArgumentError, "Missing the required parameter 'generate_tls_reporting_record_options' when calling ToolsControllerApi.generate_tls_reporting_record"
      end
      # resource path
      local_var_path = '/tools/generate-tls-reporting-record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(generate_tls_reporting_record_options) 

      # return_type
      return_type = opts[:return_type] || 'GenerateTlsReportingRecordResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#generate_tls_reporting_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param email_address [String] 
    # @param [Hash] opts the optional parameters
    # @return [FakeEmailResult]
    def get_fake_email_by_email_address(email_address, opts = {})
      data, _status_code, _headers = get_fake_email_by_email_address_with_http_info(email_address, opts)
      data
    end

    # @param email_address [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FakeEmailResult, Integer, Hash)>] FakeEmailResult data, response status code and response headers
    def get_fake_email_by_email_address_with_http_info(email_address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.get_fake_email_by_email_address ...'
      end
      # verify the required parameter 'email_address' is set
      if @api_client.config.client_side_validation && email_address.nil?
        fail ArgumentError, "Missing the required parameter 'email_address' when calling ToolsControllerApi.get_fake_email_by_email_address"
      end
      # resource path
      local_var_path = '/tools/fake-email/byEmailAddress'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailAddress'] = email_address

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'FakeEmailResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#get_fake_email_by_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a fake email by its ID
    # Get a fake email by its ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FakeEmailResult]
    def get_fake_email_by_id(id, opts = {})
      data, _status_code, _headers = get_fake_email_by_id_with_http_info(id, opts)
      data
    end

    # Get a fake email by its ID
    # Get a fake email by its ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FakeEmailResult, Integer, Hash)>] FakeEmailResult data, response status code and response headers
    def get_fake_email_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.get_fake_email_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ToolsControllerApi.get_fake_email_by_id"
      end
      # resource path
      local_var_path = '/tools/fake-email'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'FakeEmailResult' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#get_fake_email_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get raw fake email content
    # Retrieve the raw content of a fake email by its ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def get_fake_email_raw(id, opts = {})
      data, _status_code, _headers = get_fake_email_raw_with_http_info(id, opts)
      data
    end

    # Get raw fake email content
    # Retrieve the raw content of a fake email by its ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def get_fake_email_raw_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.get_fake_email_raw ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ToolsControllerApi.get_fake_email_raw"
      end
      # resource path
      local_var_path = '/tools/fake-email/html'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain;charset=utf-8', 'text/html;charset=utf-8', 'text/plain; charset=utf-8', 'text/html; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'String' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#get_fake_email_raw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fake emails for an address
    # Get fake emails for an address
    # @param email_address [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @return [Array<FakeEmailPreview>]
    def get_fake_emails_for_address(email_address, opts = {})
      data, _status_code, _headers = get_fake_emails_for_address_with_http_info(email_address, opts)
      data
    end

    # Get fake emails for an address
    # Get fake emails for an address
    # @param email_address [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @return [Array<(Array<FakeEmailPreview>, Integer, Hash)>] Array<FakeEmailPreview> data, response status code and response headers
    def get_fake_emails_for_address_with_http_info(email_address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.get_fake_emails_for_address ...'
      end
      # verify the required parameter 'email_address' is set
      if @api_client.config.client_side_validation && email_address.nil?
        fail ArgumentError, "Missing the required parameter 'email_address' when calling ToolsControllerApi.get_fake_emails_for_address"
      end
      # resource path
      local_var_path = '/tools/fake-emails'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailAddress'] = email_address
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<FakeEmailPreview>' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#get_fake_emails_for_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup a BIMI record policy
    # @param lookup_bimi_domain_options [LookupBimiDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupBimiDomainResults]
    def lookup_bimi_domain(lookup_bimi_domain_options, opts = {})
      data, _status_code, _headers = lookup_bimi_domain_with_http_info(lookup_bimi_domain_options, opts)
      data
    end

    # Lookup a BIMI record policy
    # @param lookup_bimi_domain_options [LookupBimiDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupBimiDomainResults, Integer, Hash)>] LookupBimiDomainResults data, response status code and response headers
    def lookup_bimi_domain_with_http_info(lookup_bimi_domain_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_bimi_domain ...'
      end
      # verify the required parameter 'lookup_bimi_domain_options' is set
      if @api_client.config.client_side_validation && lookup_bimi_domain_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_bimi_domain_options' when calling ToolsControllerApi.lookup_bimi_domain"
      end
      # resource path
      local_var_path = '/tools/lookup-bimi-domain'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_bimi_domain_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupBimiDomainResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_bimi_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup and validate a DKIM record
    # @param lookup_dkim_domain_options [LookupDkimDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupDkimDomainResults]
    def lookup_dkim_domain(lookup_dkim_domain_options, opts = {})
      data, _status_code, _headers = lookup_dkim_domain_with_http_info(lookup_dkim_domain_options, opts)
      data
    end

    # Lookup and validate a DKIM record
    # @param lookup_dkim_domain_options [LookupDkimDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupDkimDomainResults, Integer, Hash)>] LookupDkimDomainResults data, response status code and response headers
    def lookup_dkim_domain_with_http_info(lookup_dkim_domain_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_dkim_domain ...'
      end
      # verify the required parameter 'lookup_dkim_domain_options' is set
      if @api_client.config.client_side_validation && lookup_dkim_domain_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_dkim_domain_options' when calling ToolsControllerApi.lookup_dkim_domain"
      end
      # resource path
      local_var_path = '/tools/lookup-dkim-domain'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_dkim_domain_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupDkimDomainResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_dkim_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup a DMARC record policy
    # @param lookup_dmarc_domain_options [LookupDmarcDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupDmarcDomainResults]
    def lookup_dmarc_domain(lookup_dmarc_domain_options, opts = {})
      data, _status_code, _headers = lookup_dmarc_domain_with_http_info(lookup_dmarc_domain_options, opts)
      data
    end

    # Lookup a DMARC record policy
    # @param lookup_dmarc_domain_options [LookupDmarcDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupDmarcDomainResults, Integer, Hash)>] LookupDmarcDomainResults data, response status code and response headers
    def lookup_dmarc_domain_with_http_info(lookup_dmarc_domain_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_dmarc_domain ...'
      end
      # verify the required parameter 'lookup_dmarc_domain_options' is set
      if @api_client.config.client_side_validation && lookup_dmarc_domain_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_dmarc_domain_options' when calling ToolsControllerApi.lookup_dmarc_domain"
      end
      # resource path
      local_var_path = '/tools/lookup-dmarc-domain'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_dmarc_domain_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupDmarcDomainResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_dmarc_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup a MTA-STS domain policy
    # @param lookup_mta_sts_domain_options [LookupMtaStsDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupMtaStsDomainResults]
    def lookup_mta_sts_domain(lookup_mta_sts_domain_options, opts = {})
      data, _status_code, _headers = lookup_mta_sts_domain_with_http_info(lookup_mta_sts_domain_options, opts)
      data
    end

    # Lookup a MTA-STS domain policy
    # @param lookup_mta_sts_domain_options [LookupMtaStsDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupMtaStsDomainResults, Integer, Hash)>] LookupMtaStsDomainResults data, response status code and response headers
    def lookup_mta_sts_domain_with_http_info(lookup_mta_sts_domain_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_mta_sts_domain ...'
      end
      # verify the required parameter 'lookup_mta_sts_domain_options' is set
      if @api_client.config.client_side_validation && lookup_mta_sts_domain_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_mta_sts_domain_options' when calling ToolsControllerApi.lookup_mta_sts_domain"
      end
      # resource path
      local_var_path = '/tools/lookup-mta-sts-domain'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_mta_sts_domain_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupMtaStsDomainResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_mta_sts_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup a MX records for a domain
    # @param lookup_mx_records_options [LookupMxRecordsOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupMxRecordsResults]
    def lookup_mx_record(lookup_mx_records_options, opts = {})
      data, _status_code, _headers = lookup_mx_record_with_http_info(lookup_mx_records_options, opts)
      data
    end

    # Lookup a MX records for a domain
    # @param lookup_mx_records_options [LookupMxRecordsOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupMxRecordsResults, Integer, Hash)>] LookupMxRecordsResults data, response status code and response headers
    def lookup_mx_record_with_http_info(lookup_mx_records_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_mx_record ...'
      end
      # verify the required parameter 'lookup_mx_records_options' is set
      if @api_client.config.client_side_validation && lookup_mx_records_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_mx_records_options' when calling ToolsControllerApi.lookup_mx_record"
      end
      # resource path
      local_var_path = '/tools/lookup-mx-records'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_mx_records_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupMxRecordsResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_mx_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup PTR records for an IP address
    # @param lookup_ptr_options [LookupPtrOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupPtrResults]
    def lookup_ptr(lookup_ptr_options, opts = {})
      data, _status_code, _headers = lookup_ptr_with_http_info(lookup_ptr_options, opts)
      data
    end

    # Lookup PTR records for an IP address
    # @param lookup_ptr_options [LookupPtrOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupPtrResults, Integer, Hash)>] LookupPtrResults data, response status code and response headers
    def lookup_ptr_with_http_info(lookup_ptr_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_ptr ...'
      end
      # verify the required parameter 'lookup_ptr_options' is set
      if @api_client.config.client_side_validation && lookup_ptr_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_ptr_options' when calling ToolsControllerApi.lookup_ptr"
      end
      # resource path
      local_var_path = '/tools/lookup-ptr'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_ptr_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupPtrResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_ptr\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup and validate an SPF record
    # @param lookup_spf_domain_options [LookupSpfDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupSpfDomainResults]
    def lookup_spf_domain(lookup_spf_domain_options, opts = {})
      data, _status_code, _headers = lookup_spf_domain_with_http_info(lookup_spf_domain_options, opts)
      data
    end

    # Lookup and validate an SPF record
    # @param lookup_spf_domain_options [LookupSpfDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupSpfDomainResults, Integer, Hash)>] LookupSpfDomainResults data, response status code and response headers
    def lookup_spf_domain_with_http_info(lookup_spf_domain_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_spf_domain ...'
      end
      # verify the required parameter 'lookup_spf_domain_options' is set
      if @api_client.config.client_side_validation && lookup_spf_domain_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_spf_domain_options' when calling ToolsControllerApi.lookup_spf_domain"
      end
      # resource path
      local_var_path = '/tools/lookup-spf-domain'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_spf_domain_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupSpfDomainResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_spf_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lookup a TLS reporting domain policy
    # @param lookup_tls_reporting_domain_options [LookupTlsReportingDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [LookupTlsReportingDomainResults]
    def lookup_tls_reporting_domain(lookup_tls_reporting_domain_options, opts = {})
      data, _status_code, _headers = lookup_tls_reporting_domain_with_http_info(lookup_tls_reporting_domain_options, opts)
      data
    end

    # Lookup a TLS reporting domain policy
    # @param lookup_tls_reporting_domain_options [LookupTlsReportingDomainOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupTlsReportingDomainResults, Integer, Hash)>] LookupTlsReportingDomainResults data, response status code and response headers
    def lookup_tls_reporting_domain_with_http_info(lookup_tls_reporting_domain_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.lookup_tls_reporting_domain ...'
      end
      # verify the required parameter 'lookup_tls_reporting_domain_options' is set
      if @api_client.config.client_side_validation && lookup_tls_reporting_domain_options.nil?
        fail ArgumentError, "Missing the required parameter 'lookup_tls_reporting_domain_options' when calling ToolsControllerApi.lookup_tls_reporting_domain"
      end
      # resource path
      local_var_path = '/tools/lookup-tls-reporting-domain'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(lookup_tls_reporting_domain_options) 

      # return_type
      return_type = opts[:return_type] || 'LookupTlsReportingDomainResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#lookup_tls_reporting_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a conservative SMTP connectivity, TLS, and AUTH diagnostic
    # @param test_smtp_server_options [TestSmtpServerOptions] 
    # @param [Hash] opts the optional parameters
    # @return [TestSmtpServerResults]
    def test_smtp_server(test_smtp_server_options, opts = {})
      data, _status_code, _headers = test_smtp_server_with_http_info(test_smtp_server_options, opts)
      data
    end

    # Run a conservative SMTP connectivity, TLS, and AUTH diagnostic
    # @param test_smtp_server_options [TestSmtpServerOptions] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestSmtpServerResults, Integer, Hash)>] TestSmtpServerResults data, response status code and response headers
    def test_smtp_server_with_http_info(test_smtp_server_options, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsControllerApi.test_smtp_server ...'
      end
      # verify the required parameter 'test_smtp_server_options' is set
      if @api_client.config.client_side_validation && test_smtp_server_options.nil?
        fail ArgumentError, "Missing the required parameter 'test_smtp_server_options' when calling ToolsControllerApi.test_smtp_server"
      end
      # resource path
      local_var_path = '/tools/test-smtp-server'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(test_smtp_server_options) 

      # return_type
      return_type = opts[:return_type] || 'TestSmtpServerResults' 

      # auth_names
      auth_names = opts[:auth_names] || ['API_KEY']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsControllerApi#test_smtp_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
